#tablenews_wrapper .row{
	width: 100%;
}
#tablenews_wrapper #tablenews_paginate ul li.paginate_button{
	margin-left: 7px;
	margin-right: 7px;
}
#tablenews_filter{
	margin-left: 205px;
}
.hidden{display:none;}

.btn.btn-link.read-more{
	color: #043560;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Lato-Bold;
    margin-top: 20px;
    display: block;
    text-decoration: none;
}
iframe#description_ifr{
	min-height: 400px; 
}
.it .btn-orange
{
	background-color: blue;
	border-color: #777!important;
	color: #777;
	text-align: left;
  width:100%;
}
.it input.form-control
{
	
	border:none;
  margin-bottom:0px;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}
.it .form-control:focus
{
	border-color: #ff4d0d;
	box-shadow: none;
	outline: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}