@media (min-width: 769px) and (max-width: 1023px){
	div.all-item .airport_5{
	    top: 27%;
	    left: 18%;
	}
	div.all-item .airport_4{
		top: 41%;
	    left: 10%;
	}
	.all-item .airport_3{
		bottom: 18%;
		left: 10.8%;
	}
	div.all-item .airport_1{
	    bottom: 24%;
	    right: 6%;
	}
	.all-item.airport .content .airport_1 .description p{
		padding-right: 3.3%;
		padding-left: 0;
		margin-top: -2%;
		right: 0;
		left: auto;
	}
	.all-item.airport .content .airport_2 .description p{
		padding-right: 4.1%;
		padding-left: 0;
		margin-top: -2.8%;
		right: 0;
		left: auto;
	}
	div.all-item .airport_2{
	    bottom: 11%;
	    right: 15%;
	}
	body .all-item.airport img.bg{
		width: 69.7%;
		left: 56.8%;
		top: 53%;
	}
	.all-item.airport .content .airport_5 .description p{
		padding-left: 1.9%;
	}
	.all-item.airport .content .airport_4 .description p{
		padding-left: 2%;
		top: 36%;
	}
	.all-item.airport .content .airport_3 .description p{
		padding-left: 1.9%;
		top: 37%;
	}
}
@media (min-width: 1024px) and (max-width: 1365px){
	div.all-item .airport_5{
		top: 18.5%;
		left: 11%;
	}
	div.all-item .airport_4{
		top: 37%;
		left: 6%;
	}
	.all-item .airport_3{
		bottom: 15.9%;
		left: 10.8%;
	}
	div.all-item .airport_1{
		bottom: 61.3%;
		right: 8.7%;
	}
	.all-item.airport .content .airport_1 .description p{
		padding-right: 4.5%;
		padding-left: 0;
		margin-top: -2%;
		right: 0;
		left: auto;
	}
	.all-item.airport .content .airport_2 .description p{
		padding-right: 5.7%;
		padding-left: 0;
		margin-top: -2.8%;
		right: 0;
		left: auto;
	}
	div.all-item .airport_2{
		bottom: 14.4%;
		right: 10%;
	}
	
	body .all-item.airport img.bg{
		width: 59.7%;
	    left: 51.8%;
	    top: 50.2%;
		/*width: auto;*/
		max-width: 69.7%;
		/*max-height: 420px;*/
		/*height: 292px;*/
	}
	
	
	.all-item.airport .content .airport_5 .description p{
		padding-left: 2.8%;
	}
	.all-item.airport .content .airport_4 .description p{
		padding-left: 3%;
	}
	.all-item.airport .content .airport_3 .description p{
		padding-left: 3%;
	}
	.all-item.active.airport .footer h2{
		margin-bottom: 0;
		font-size: 1.9rem;
	}
	
}
@media (max-width: 500px){
	.detail-content .content-left .service-img.main.airport_1.active{
		height: 180px;
	}
	.detail-content .content-left .service-img.main.airport_2.active{
		max-width: 300px;
	}
	.detail-content .content-left .service-img.main.airport_3.active{
		height: 225px;
	}
	.detail-content .content-left .service-img.main.airport_4.active{
		max-height: 300px;
	}
	.detail-content .content-left .service-img.main.airport_5.active{
		height: 180px;
	}
}
@media (min-width: 1366px){
	div.all-item .airport_5{
		top: 16.5%;
		left: 11%;
	}
	div.all-item .airport_4{
		top: 37%;
		left: 6%;
	}
	.all-item .airport_3{
		bottom: 8.6%;
		left: 10.8%;
	}
	div.all-item .airport_1{
		bottom: 58.3%;
		right: 2.7%;
	}
	.all-item.airport .content .airport_1 .description p{
		padding-right: 3.7%;
		padding-left: 0;
		margin-top: -2.8%;
	}
	.all-item.airport .content .airport_2 .description p{
		padding-right: 4.7%;
		padding-left: 0;
		margin-top: -2.8%;
	}
	div.all-item .airport_2{
		bottom: 4%;
		right: 9%;
	}
	
	body .all-item.airport img.bg {
		max-width: 760px;
    	width: 100%;
		left: 52.8%;
		top: 53%;
	}
	.item.rms .detail-content .content-left .service-img.main{
		top:42%;
	}
	
}
@media (min-width: 1920px){
	div.all-item .airport_5{
		top: 18.5%;
		left: 11%;
	}
	div.all-item .airport_4{
		top: 37.3%;
		left: 2.9%;
	}
	.all-item .airport_3{
		bottom: 14.9%;
		left: 10.8%;
	}
	div.all-item .airport_1{
		bottom: 60.3%;
		right: 3.7%;
	}
	.all-item.airport .content .airport_1 .description p{
		padding-right: 5%;
		padding-left: 0;
		margin-top: -2.8%;
	}
	.all-item.airport .content .airport_2 .description p{
		padding-right: 6.1%;
		padding-left: 0;
		margin-top: -2.8%;
	}
	div.all-item .airport_2{
		bottom: 7.6%;
		right: 5%;
	}
	
	body .all-item.airport img.bg{
	    max-width: 1000px;
    	width: 100%;
		left: 56.8%;
		top: 53%;
	}
	.item.rms .detail-content .content-left .service-img.main{
		top:20%;
	}
}
@media (min-width: 768px){
	.detail-content .content-left .service-img.main.airport_2.active{
		top: 40%;
	}
	.detail-content .content-left .service-img.main.airport_4.active{
		max-height: 330px;
	}
	.detail-content .content-left .service-img.main.airport_5.active{
		top: 45%;
	}
}