

body.fp-viewing-firstSection-2 .content.contact-content {
    overflow: auto;
    height: 100%;
}

body.fp-viewing-firstSection-2 .page {
    height: 100%;
}
div#fullpage .horizontal-scrolling.fp-slide.fp-table .fp-tableCell{
    display: block;
    height: 100% !important;

}

.fp-slide.fp-table{
    overflow: hidden !important;

}
section.vertical-scrolling.fp-section {
    background: #fff !important;
}

/*Contact fullpage*/
.contact-content .right-content img{
    width: 100%;
}
.contact-content .right-content {
    min-height: 687px;
    position: absolute;
    right: 0;
    padding-right: 0;
    /* float: right; */
    top: 0;
}

.contact-content .contact{
    position: relative;
}
.footer.footer-contactpage {
    background: #354D63;
    text-align: center;
    color: #fff;
    height: 43px;
    line-height: 42px;
}
.footer.footer-contactpage .site-info p {
    font-family: "LatoRegular";
    font-size: 12px;
}
.contact-content .left-content {
    padding-top: 91px;
}.contact-content .left-content .contact-info .email p {
     font-size: 18px;
     font-family: "LatoLight";
     color: #000000;
     line-height: 22px;
     padding-left: 50px;
     max-width: 275px;
 }

.contact-content .left-content .contact-info .tel p {
    display: block;
    font-size: 18px;
    font-family: "LatoLight";
    color: #000000;
    line-height: 22px;
    padding-left: 50px;
    max-width: 275px;
}
.contact-content .left-content .address p {
    display: block;
    font-size: 18px;
    font-family: "LatoLight";
    color: #000000;
    line-height: 22px;
    padding-left: 50px;
    max-width: 275px;
}

.contact-content  .left-content h2 {
    margin-bottom: 34px;
    color: #000000;
    font-size: 36px;
    line-height: 46px;
    font-family: "MetaBook";
}
.contact-content  .contact-info {
    margin-bottom: 70px;
}
.contact-content  .left-content  .follow-us ul.social {
    list-style: none;
    padding: 0;
}
.contact-content .left-content .follow-us ul.social li {
    display: inline-block;
    padding: 0 22px 0 0;
}
.contact-content .left-content .contact-info .email{
    margin-bottom: 38px;
    position: relative;

}
.contact-content .left-content .contact-info .tel {
    margin-bottom: 38px;
    position: relative;
}
.contact-content .left-content .contact-info .address {
    margin-bottom: 38px;
    position: relative;
}
.contact-content .left-content .contact-info .email:before {
    content: "";
    background: url(../images/mail.svg) no-repeat;
    display: block;
    width: 18px;
    height: 18px;
    margin-top: 2px;
    position: absolute;
    left: 0;
}
.contact-content .left-content .contact-info .tel:before {
    content: "";
    background: url(../images/tel.svg) no-repeat;
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
}
.contact-content .left-content .contact-info .address:before {
    content: "";
    background: url(../images/address.svg) no-repeat;
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
}
.contact-content .left-content .contact-info .email:after,
.contact-content .left-content .contact-info .tel:after,
.contact-content .left-content .contact-info .address:after
{
    content: "";
    height: 1px;
    width: 223px;
    display: block;
    background: #707070;
    margin-left: 50px;
    margin-top: 4px;
}




@media only screen and (max-width: 1000px) {



    body.fp-viewing-firstSection-2 {
        overflow: inherit !important;
    }
    body.fp-viewing-firstSection-2 .fp-slides {
        overflow: scroll !important;
    }


    .contact-content .right-content {
        margin-bottom: 50px;
        min-height: auto;
        position: inherit;
        display: block !important;
        max-width: 100% !important;
        flex: inherit !important;
        right: 0;
        padding-right: 15px;
        /* float: right; */
        top: 0;
    }
    .contact-content .left-content {
        padding-top: 86px;
        -webkit-box-flex: 0;
        -ms-flex: inherit !important;

        flex: inherit !important;
        /* max-width: 100%; */
        padding-bottom: 46px;
        margin: auto;
        /* max-width: 100%; */
    }
    .contact-content .contact-info {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    body.fp-viewing-firstSection-2 .container{
        padding: 0 45px !important;
    }

    .content .listing-service .col-md-3 .sv-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }

    .menu-list li a{
        font-size: 19px !important;
        line-height: 18px !important;
    }
    .menu-list li {
        margin: 17px 0 !important;

    }

    .horizontal-scrolling.fp-slide.fp-table {
        max-height: 100vh;
        display: block;
    }
    .horizontal-scrolling.fp-slide.fp-table.active {
        max-height: inherit;
        display: table;
    }


    body.fp-viewing-firstSection-1{
        overflow: scroll !important;
    }
    .fp-slides{
        overflow: inherit !important;
    }
    .page .content .container-fluid{
        height: auto !important;
        overflow: hidden;
    }
    .content .listing-service .col-md-3{
        position: relative;
        opacity: 1 !important;
        min-height: 550px;

    }
    .content .listing-service .col-md-3:hover .sv-content-hover{
        opacity: 1 !important

    }
    .fp-slides .page .container-fluid{
        height: auto;

    }
    .content .listing-service .sv-content{
        display: block;
    }
    .content .listing-service .col-md-3 .sv-content-hover {
        /*  opacity: 1 !important;
          filter: alpha(opacity=100) !important;
          top: 77vh !important;
          position: relative !important;*/
    }
    .content .listing-service .service-1{
        /* background: #F7C446;
           overflow: hidden;*/
        border-bottom: 1px solid #eee;
    }


    .content .listing-service .service-1:hover .sv-content{
        display: none;
    }
    .content .listing-service .service-1:hover .sv-content-hover {
        background: #F7C446;
        overflow: hidden;
        left: 0 !important;
        z-index: 1;
        padding-top: 145px !important;
    }
    .content .listing-service .service-1 .sv-content-hover {
        padding-top: 0 !important;
        left: -100% !important;
        z-index: -1;
        /* bottom: 0; */
        -webkit-transform: none;
        transform: none;
        -ms-transform: initial;
        top: 0;
        background: #F7C446;
    }




    .content .listing-service .service-2 {

        border-bottom: 1px solid #eee;
    }
    .content .listing-service .service-2:hover .sv-content{
        display: none;
    }
    .content .listing-service .service-2:hover .sv-content-hover {
        background: #478AB2;
        overflow: hidden;
        right: 0 !important;
        left: auto !important;
        z-index: 1;
        padding-top: 335px !important;

    }
    .content .listing-service .service-2 .sv-content-hover {
        padding-top: 0 !important;
        right: -100% !important;
        z-index: -1;
        left: auto !important;
        /* bottom: 0; */
        -webkit-transform: none;
        transform: none;
        -ms-transform: initial;
        top: 0;
        background: #478AB2;
    }







    .content .listing-service .service-3:hover .sv-content{
        display: none;
    }
    .content .listing-service .service-3:hover .sv-content-hover {
        background: #F7F7F7;
        overflow: hidden;
        left: 0 !important;
        z-index: 1;
        padding-top: 342px !important;
    }

    .content .listing-service .service-3 .sv-content-hover {
        padding-top: 0 !important;
        left: -100% !important;
        z-index: -1;
        /* bottom: 0; */
        -webkit-transform: none;
        transform: none;
        -ms-transform: initial;
        top: 0;
        background: #F7F7F7;
    }

    .content .listing-service .service-4:hover .sv-content{
        display: none;
    }
    .content .listing-service .service-4:hover .sv-content-hover {
        background: #C10302;
        overflow: hidden;
        right: 0 !important;
        z-index: 1;
        padding-top: 40px !important;
    }

    .content .listing-service .service-4 .sv-content-hover {
        padding-top: 0 !important;
        right: -100% !important;
        z-index: -1;
        /* bottom: 0; */
        -webkit-transform: none;
        transform: none;
        -ms-transform: initial;
        top: 0;
        background: #C10302;
    }

    .content .listing-service .service .sv-content-hover {
        height: 100%;
    }



    .content .listing-service .sv-content-hover .text .image{
        width: 100%;

    }
    .content .listing-service .service-2 .sv-content-hover .image{
        width: 100%;
        transform: none !important;
        left: 0 !important;
        top: 100px !important;
    }
    .content .listing-service .service-2 .sv-content-hover .image img{
        width: 100%;
    }
    .content .listing-service .sv-content-hover .text .image img{
        width: 100%;

    }
    .content .listing-service .service-3 .sv-content-hover .image img{
        width: 100%;
    }

    .content .listing-service .service-2 .sv-content-hover {
        padding-top: 238px !important;
    }
    .content .listing-service .service-4 .sv-content-hover .text .image{
        top: 45vh !important;
    }


    .content .listing-service .service-3 .sv-content-hover .text h4, .content .listing-service .service-3 .sv-content-hover .text .desc {
        color: #2C2C2C !important;
    }
    .content .listing-service .col-md-3 .number {
        border: 0;
        box-shadow: 0px 3px 6px #00000029;
        background: #fff !important;
    }
}

@media only screen and (max-width: 575px) {

    .wrap{
        padding: 0 30px !important;
    }
    .header .menu .menu-open .icon {
        width: 34px !important;
        height: 22px !important;
    }

    .header{
        text-align: center;

    }
    .header .logo {
        display: inline-block;
        float: none !important;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

    .content .listing-service .service-2 .sv-content-hover .image{
        top: 0 !important;
    }
    .content .listing-service .service-3:hover .sv-content-hover{
        padding-top: 394px !important;
    }
    .service-3 .sv-content-hover .image{
        top: -75px !important;
    }
    .content .listing-service .service-3 {

        border-bottom: 1px solid #eee;
    }
    .content .listing-service .service-4 .sv-content-hover .text .image{
        top: 32vh !important;
    }

}
@media only screen and (max-width: 480px) {

    .menu-list li a{
        font-size: 18px !important;
        line-height: 18px !important;
    }
    .menu-list li {
        margin: 15px 0 !important;

    }

    .wrap {
        padding: 0 20px !important;
    }


    .content .listing-service .service-3:hover .sv-content-hover {
        padding-top: 302px !important;
    }
    .contact-page {
        position: relative;
        display: table;
    }
    .contact-page .contact-footer.footer {
        position: fixed;
        margin-top: 0;
    }
}
@media only screen and (max-width: 375px) {
    .contact-content .left-content .contact-info .email:after, .contact-content .left-content .contact-info .tel:after, .contact-content .left-content .contact-info .address:after {
        content: "";
        height: 1px;
        width: 201px;
        display: block;
        background: #707070;
        margin-left: 30px;
        margin-top: 4px;
    }
    .contact-content .left-content .contact-info .email a,
    .contact-content .left-content .contact-info .tel a,
    .contact-content .left-content .address a{
        padding-left: 30px;
    }
}

@media screen and (max-width: 336px) {
    
    .contact-page .contact-footer.footer {
        margin-top: -24px;
    }
}