body {
    font-family: "LatoLight";
    font-size: 18px;
}
.auth-pages button.enter-btn, .auth-pages .form-group label {
    font-size: 18px;
}
.auth-pages h3.card-title.text-left.mb-3.text-center {
    font-size: 26px;
}

.auth-pages .alert-danger.text-center {
    display: none;
}

