    .all-item .manufacturing_1 {
        position: absolute;
        bottom: 30%;
        right: 4%;
    }
    .all-item .manufacturing_2 {
        position: absolute;
        bottom: 12%;
        right: 16%;
    }
    .all-item .manufacturing_3 {
        position: absolute;
        top: 20%;
        left: 110px;
    }


    @media screen and (min-width: 1366px){
    .all-item .manufacturing_1 {
        position: absolute;
        bottom: 30%;
        right: 4%;
    }
    .all-item .manufacturing_2 {
        position: absolute;
        bottom: 10%;
        right: 10%;
    }
.all-item .manufacturing_3 {
    position: absolute;
    top: 30%;
    left: 110px;
}
}
@media screen and (min-width: 1520px){
    .all-item .manufacturing_1{
        right: 3%;
    }
    .all-item .manufacturing_3 {
        left: 6%;
    }
    .all-item .manufacturing_2{

        right: 12%;
    }
    .all-item.seaport .content .description{
        font-size: 22px;
    }
    .all-item.seaport .header p{
        max-width: 886px;
        font-size: 18px;
    }
}
@media screen and (max-width: 1200px){
    .all-item .manufacturing_2 {
        position: absolute;
        bottom: 16%;
        right: 16%;
    }
}
@media screen and (max-width: 991px){
    .all-item .manufacturing_1 {
    position: absolute;
    bottom: 30%;
    right: 4%;
}
.all-item .manufacturing_2 {
    position: absolute;
    bottom: 16%;
    right: 16%;
}

}
@media screen and (max-width: 920px){
    .all-item .manufacturing_2 {
        bottom: 19%;
        right: 16%;
    }
    .all-item .manufacturing_1 {
        bottom: 33%;
        right: 4%;
    }
        .all-item .manufacturing_3 {
        position: absolute;
        top: 24%;
        left: 75px;
    }
    body .all-item img.bg {
        left: 48%;
    }
}
@media screen and (max-width: 850px){

    .all-item .manufacturing_2 {
        bottom: 19%;
        right: 14%;
    }
    .all-item .manufacturing_1 {
        bottom: 30%;
        right: 4%;
    }
    body .all-item .manufacturing-content img.bg{
        width: 70%;
        margin-top: 30px !important;
        top: 45%;
        left: 50%;
    }
}
@media screen and (min-width: 769px){
    .all-item .content .manufacturing_2 .description p{
        left: unset;
        right: 0;
    }
    .all-item .content .manufacturing_1 .description p{
        left: unset;
        right: 0;
    }
}
@media screen and (max-width: 768px){

    .all-item.manufacturing .content .manufacturing_2, .all-item.manufacturing .content .manufacturing_3 {
        position: static;
        width: 100%;
        display: block;
        font-size: 0;
        clear: both;
        margin-top: 25px;
        padding-right: 15px;
        padding-left: 15px;
    }
	.all-item.manufacturing .content .manufacturing_1{
		position: static;
        width: 100%;
        display: block;
        font-size: 0;
        clear: both;
        margin-top: 15px !important;
        padding-right: 15px;
        padding-left: 15px;
	}
    .all-item.manufacturing .content .manufacturing_1:after, .all-item.manufacturing .content .manufacturing_2:after, .all-item.manufacturing.content .manufacturing_3:after{
        content: '';
        visibility: hidden;
        display: block;
        clear: both;
    }
	.detail-content .content-left .service-img.main.manufacturing_2.active{
		height: 215px;
	}
}
@media (min-width: 1820px){
    div.all-item .manufacturing_5{
        top: 38.8%;
        left: 3.4%;
    }
    .all-item.manufacturing .content .manufacturing_5 .description p{
        margin-top: -2.9%;
        padding-left: 1.9%;
    }
    div.all-item .manufacturing_4{
        top: 70.5%;
        left: 9.2%;
    }
    .all-item.manufacturing .content .manufacturing_4 .description p{
        margin-top: -3%;
    }
    .all-item .manufacturing_3{
            bottom: auto;
    right: auto;
    top: 23%;
    left: 8.9%;
    }
    .all-item.manufacturing .content .manufacturing_3 .description p{
            margin-top: 0;
    padding-left: 4%;
    padding-right: 0;
    }
body div.all-item .manufacturing_1 {
    bottom: 50.5%;
    right: 3.7%;
    top: auto;
}
    div.all-item .manufacturing_6{
        top: 16.3%;
        left: 21.7%;
    }
    .all-item.manufacturing .content .manufacturing_1 .description p{
        padding-right: 5%;
        padding-left: 0;
        margin-top: -2.8%;
    }
    .all-item.manufacturing .content .manufacturing_2 .description p{
            padding-right: 4.6%;
    padding-left: 0;
    margin-top: 0;
    }
    div.all-item .manufacturing_2{
            top: 65.3%;
    right: 15.2%;
    }

    .all-item.manufacturing .header .menu{
        right: 3.6%;
        top: 4.2%;
    }
body .all-item.manufacturing img.bg {
    width: 51.3%;
    left: 49.8%;
    top: 53%;
}
    .all-item.manufacturing .content .image{
        width: 183px;
        height: 183px;
    }
    .all-item.manufacturing .content .description{
        height: 183px;
    }
    .all-item.manufacturing .content .description p{
        padding-left: 2.9%;
        font-size: 1.3rem;
        letter-spacing: -0.3px;
        padding-bottom: 12px;
    }
    .all-item.manufacturing .content .description{
        width: 491px;
    }
    .all-item.manufacturing .footer h2{
        margin-bottom: 0.4%;
        font-size: 3.5rem;
    }
    .all-item.manufacturing .footer p{
        bottom: -8%;
        left: 9.1%;
        font-size: 1.4rem;
    }
    body .body-content .all-footers.footer{
        padding-top: 3%;
    }
    .body-content{
        min-height: 1022px;
    }
}
@media (min-width: 1820px){
.all-item.manufacturing .header p {
    width: 75%;}
}
@media (min-width: 1920px){
   body .all-item.manufacturing img.bg {
        width: 52.3%;
    }
}
