@font-face {
    font-family: 'MetaSerifPro-BlackIta';
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-BlackIta.eot');
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-BlackIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-BlackIta.woff2') format('woff2'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-BlackIta.woff') format('woff'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-BlackIta.ttf') format('truetype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-BlackIta.svg#MetaSerifPro-BlackIta') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifPro';
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-Bold.eot');
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Bold.woff2') format('woff2'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Bold.woff') format('woff'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Bold.ttf') format('truetype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Bold.svg#MetaSerifPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifPro-BookIta';
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-BookIta.eot');
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-BookIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-BookIta.woff2') format('woff2'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-BookIta.woff') format('woff'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-BookIta.ttf') format('truetype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-BookIta.svg#MetaSerifPro-BookIta') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifPro-BoldIta';
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-BoldIta.eot');
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-BoldIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-BoldIta.woff2') format('woff2'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-BoldIta.woff') format('woff'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-BoldIta.ttf') format('truetype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-BoldIta.svg#MetaSerifPro-BoldIta') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifPro-MediIta';
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-MediIta.eot');
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-MediIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-MediIta.woff2') format('woff2'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-MediIta.woff') format('woff'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-MediIta.ttf') format('truetype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-MediIta.svg#MetaSerifPro-MediIta') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifPro';
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-Black.eot');
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Black.woff2') format('woff2'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Black.woff') format('woff'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Black.ttf') format('truetype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Black.svg#MetaSerifPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifPro-Medi';
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-Medi.eot');
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-Medi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Medi.woff2') format('woff2'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Medi.woff') format('woff'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Medi.ttf') format('truetype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Medi.svg#MetaSerifPro-Medi') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifPro-Book';
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-Book.eot');
    src: url('../fonts/Meta_Serif_Pro/MetaSerifPro-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Book.woff2') format('woff2'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Book.woff') format('woff'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Book.ttf') format('truetype'),
        url('../fonts/Meta_Serif_Pro/MetaSerifPro-Book.svg#MetaSerifPro-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

