* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato-Regular';
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: "Lato";
    width: 100%;
    height: 100%;
}

.strobo {
    width: 100%;
    height: 100%;
}

.section {
  text-align:center;
  font-size: 3em;
}
div#fp-nav {
    display: none;
}

.button {
    cursor: pointer;
    color: #fff;
}
.button:hover {
    background: #fff;
    color: #000;
}
.home-header a.menu {
    background-image: url(../assets/menu_white.png);
}
.menu {
    content: '';
    background-image: url(../assets/menu_black.png);
    background-repeat: no-repeat;
    width: 43px;
    height: 27px;
    display: block;
    position: absolute;
    right: 50px;
    top: 30px;
    z-index: 9999;
    cursor: pointer;
}
div#fp-nav {
    display: none !important;
}
a.next-detail-service {
    background-image: url('../assets/btn_next.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 44px;
    height: 44px;
    background-size: contain;
}

a.prev-detail-service {
    background-image: url(../assets/btn_prev.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 44px;
    height: 44px;
    background-size: contain;
}
span.first-detail {
    background-image: url(../assets/arrrow_down_black.png);
    background-repeat: no-repeat;
    width: 37px;
    height: 211px;
    position: absolute;
    bottom: 0px;
    left: 10px;
    cursor: pointer;
    background-size: contain;
    z-index: 999999;
}

/*=====HOME=====*/
video#home_video_popup {
    width: inherit;
}

#homePage {
   /* position: relative;
    background-image: url('../assets/bkg-home.png');
    background-position: center;
    background-size: cover;*/
    z-index: 10;
}

video.home-video-bg {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#homePage:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 53, 96, 0.56);
    z-index: 1;
}

.home-content {
    position: relative;
    z-index: 2
}

.home-content h2 {
    font-size: 40px;
    line-height: 52px;
    font-family: 'MetaSerifPro-Book';
    color: #fff;
    font-weight: 400;
}

.home-content .button {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    width: 155px;
    height: 55px;
    font-size: 14px;
}

.home-content .button:hover {
    background: #fff;
    color: #000;
}

#homePage .home-footer {
    position: absolute;
    bottom: 0;
    right: 50px;
    z-index: 10;
}

#homePage .home-footer a.skip {
    color: #fff;
    text-decoration: none;
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    float: left;
    bottom: 60px;
    right: 60px;
    position: absolute;
    font-family: 'Lato-Bold';
}

#homePage .home-footer a.next {
    content: '';
    background-image: url(../assets/arrow_down_white.png);
    background-repeat: no-repeat;
    width: 37px;
    height: 215px;
    display: block;
    float: right;
    bottom: 0;
    position: relative;
}

#homePage .bg-home {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.footer span.scroll-down {
    display:none;
    color: #272727;
    font-size: 12px;
    right: -20px;
    position: absolute;
    bottom: 200px;
    font-family: 'Lato-Regular';
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 2px;
}

.footer span.scroll-down:before {
    content: '';
    background-image: url('../assets/scroll_down.png');
    background-repeat: no-repeat;
    width: 28px;
    height: 127px;
    display: block;
    position: absolute;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 180px;
    bottom: -58px;
}

.video-home {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}


.video-home .popup-content {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.video-home .popup-content .content {
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    /*max-width: 767px;*/
    max-width: 1200px;
    width: 100%;
    left: 50%;
    height: 70%;
}

.video-home .popup-content .close-video-intro {
    position: absolute;
    top: -50px;
    right: -50px;
    cursor: pointer;
}

/*=====END HOME=====*/

/*=====CONTACT=====*/
.contact-page {
    /*display: none;*/
    width: 100%;
    height: 100%;
    -webkit-transform: all 1s;
    -ms-transform: all 1s;
    transform: all 1s;
    color: #000;
}

.contact-page .contact-content {
    width: 100%;
    height: calc(100% - 42px);
}
.contact-page .contact-content .content-left {
    width: 35%;
    height: 100%;
    float: left;
    position: relative;
}
.contact-page .contact-content .content-right {
    width: 65%;
    height: 100%;
    float: right;
    position: relative;
}

.contact-page .contact-content .content-right iframe {
    width: 100%;
    height: 100%;
}

.contact-page .contact-content .content-left .content {
    position: absolute;
    max-width: 80%;
    top: 9.875rem;
    left: 8.25rem;
}

.contact-page .contact-content .content-left .content h2 {
    font-size: 25px;
    line-height: 32px;
    font-family: 'MetaSerifPro-Book';
    margin-bottom: 2.313rem;
}

.contact-page .contact-content .content-left .content p.address {
    color: #707070;
    padding: 0;
    padding-left: 33px;
}

.contact-page .contact-content .content-left .content p {
    color: grey;
    font-size: 16px;
    line-height: 19px;
    padding-left: 33px;
    position: relative;
    font-family: 'Lato-Light';
    margin-bottom: 2.313rem;
}

.contact-page .contact-content .content-left .content p a {
    text-decoration: none;
    color: #707070;
    border-bottom: 1px solid #707070;
}

.contact-page .contact-content .content-left .content {
    max-width: 300px;
}

.contact-page .contact-content .content-left .content .mail:before {
    content: '';
    background-image: url('../assets/icon_mail.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 11px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.contact-page .contact-content .content-left .content .phone:before {
    content: '';
    background-image: url('../assets/icon_phone.png');
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.contact-page .contact-content .content-left .content .address:before {
    content: '';
    background-image: url('../assets/icon_address.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.contact-page .contact-footer.footer {
    height: 45px;
    background-color: #354D63;
    width: 100%;
    position: relative;
}

.contact-page .contact-footer.footer p {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 5px;
}

/*=====END CONTACT=====*/

/*=====CORE TECHNOLOGY=====*/
.core-tech {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

.core-header.header {
    position: relative;
    width: 100%;
    height: 100px;
}

.core-tech .core-content .intro {
    text-align: right;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Lato-Bold';
    color: #000;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    top: 95px;
}

.core-tech .core-content .details {
    border-left: 1px solid #0E8AFA;
    padding-left: 30px;
    max-width: 1030px;
}

.core-tech .core-content {
    color: #000;
    max-width: 1366px;
    margin: 0 auto;
    padding: 20px 40px;
    position: relative;
    height: auto;
    overflow: auto;
}

.core-content .details h2 {
    font-size: 40px;
    line-height: 52px;
    margin: 0;
    font-family: 'MetaSerifPro-Book';
    font-weight: 300;
}

.core-footer.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: #354D63;
    text-align: center;
}

.core-footer.footer p.footer {
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}

.core-tech .core-content ul.tech li {
    position: relative;
    list-style-type: none;
    width: 33.333%;
    display: inline-block;
    vertical-align: top;
    float: left;
    text-align: center;
}

.core-tech .core-content ul.tech li:nth-child(3n+1) {
    clear: both;
}

.core-tech .core-content ul.tech li img {
    max-width: 140px;
    max-height: 130px;
    margin: 40px 0;
}

.core-tech .core-content ul.tech li p {
    margin: 0;
    position: absolute;
    bottom: -10px;
    width: 100% !important;
}

.core-tech .core-content ul.tech {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

/*=====END CORE TECHNOLOGY=====*/


/*=====SERVICE=====*/
.logo {
    z-index: 99;
    cursor: pointer;
    top: 30px;
    left: 50px;
}

div#servicePage {
    background: #fff;
    z-index: 10;
}

.service-header .logo {
    position: absolute;
    z-index: 10;
}

.service-header .logo span {
    content: '';
    background-image: url('../assets/logo.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 45px;
    display: block;
}

.service-content {
    width: 100%;
    height: 100%;
    margin-top: 36px;
    opacity: 1;
    -webkit-transform: all 1s;
    -ms-transform: all 1s;
    transform: all 1s;
}

.service-content.transition {
    margin: 0;
}

.service-content .service-item {
    width: calc(25%);
    float: left;
    height: 100%;
    border-right: 1px solid #eee;
    position: relative;
}

.service-item .nomal span.video {
    display: none;
}

span.video:hover {
    color: #4E4E4E;
}

span.video:hover::before {
    background-image: url(../assets/icon_play_small_black.png) !important;
}

.service-content .service-item .nomal {
    z-index: 999;
}

.service-content .service-item .nomal .title {
    cursor: pointer;
    z-index: 10;
    font-size: 25px;
    line-height: 18px;
    font-family: 'MetaSerifPro-Book';
    color: #212529;
    text-shadow: 0 3px 6px rgba(0,0,0,.16);
    opacity: .58;
    font-weight: normal;
    text-align: left;
}

.service-content .service-item .nomal .title.active {
    color: #fff;
    opacity: 1;
}

.service-content .service-item.active .nomal .title {
    -webkit-box-shadow: 0 3 6px rgba(0,0,0,.16);
    box-shadow: 0 3 6px rgba(0,0,0,.16);
}


.service-content .service-item .nomal {
    color: #707070;
    font-size: 25px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50px;
}

.service-footer .next {
    content: '';
    background-image: url(../assets/arrow_toright_black.png);
    background-repeat: no-repeat;
    width: 215px;
    height: 37px;
    display: block;
    float: right;
    bottom: 40px;
    right: 50px;
    position: relative;
    cursor: pointer;
    z-index: 9999;
}

.service-footer .prev {
    display: none;
    content: '';
    background-image: url(../assets/arrow_toleft_black.png);
    background-repeat: no-repeat;
    width: 215px;
    height: 37px;
    float: left;
    bottom: 40px;
    left: 50px;
    position: relative;
    cursor: pointer;
    z-index: 9999;
}

/*=====END SERVICE=====*/


/*=====ABOUT=====*/
.about-page {
    /*display: none;*/
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-animation: 1s;
    animation: 1s;
    overflow-y: auto;
    position: relative;
    height: 100%;
}

.about-footer .back {
    background-image: url(../assets/arrow_up_white.png) !important;
    bottom: 50px !important;
}

#aboutPage .about-content {
    background-image: url('../assets/about_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#aboutPage * {
    font-family: 'Lato-Regular';
}

#aboutPage p.text-vertical {
    font-size: 16px;
    color: #fff;
    line-height: 19px;
}
#aboutPage .details .heading .head-title {
    font-family: 'MetaSerifPro-Book';
    font-size: 50px;
    color: #fff;
    line-height: 65px;
    margin: 0 0 30px;
    text-align: left;
}
#aboutPage .details .description .detail {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
}

.about-content .content-first {
    padding: 12.875rem 0 23.304rem 8.344rem;
    position: relative;
}

.about-content .title {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    float: left;
    width: 200px;
    left: -119px;
    position: absolute;
    top: 80px;
    text-align: right;
    /* width: auto; */
}

.about-content .details {
    border-left: 1px solid #0E8AFA;
}

.about-content .details {
    position: relative;
    padding: 0 40px;
}
.content-body .content-first .description {
    max-width: 580px;
}

.about-content .details.company .description {
    max-width: 795px;
}

.about-content .content-first .description {
    max-width: 642px;
}


/*=====END ABOUT=====*/



/*=====OUR COMPANY=====*/
#our_company {
    content: '';
    background-image: url('../assets/about_bg.png');
    /*    background-repeat: no-repeat;*/
    background-size: cover;
    position: relative;
}

#aboutPage .item.content-seconds {
    padding-left: 23.813rem;
    padding-bottom: 8.241rem;
    padding-bottom: 11.073rem;
}

.about-content .details.company {
    border-left: 1px solid #0E8AFA;
    position: relative;
    /*padding: 0 40px;*/
    /*padding: 0 10% 10% 2%;*/
    /*margin-left: 30%*/
}

#our_company p.text-vertical {
    font-size: 16px;
    color: #fff;
    line-height: 19px;
}
#our_company .details .heading .head-title {
    font-family: 'MetaSerifPro-Book';
    font-size: 50px;
    color: #fff;
    line-height: 65px;
    margin: 0 0 30px;
    text-align: left;
}
#our_company .details .description .detail {
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    text-align: left;
}

.about-content .title {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    float: left;
    width: 200px;
    left: -119px;
    position: absolute;
    top: 80px;
    text-align: right;
    /* width: auto; */
}

.content-body .content-first .description {
    max-width: 580px;
}

.about-content .visit-site {
    text-align: left;
}

.about-content .button {
    padding: 10px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    width: 265px;
    height: 55px;
    font-size: 14px;
}

.about-content .button:hover {
    background: #fff;
    color: #000;
}

/*=======Footer=======*/

.about-footer {
    width: 100%;
    bottom: 0;
}
.about-footer .footer {
    background: #354D63;
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    margin: 0;
}
/*=======Footer=======*/
/*=====END COMPANY=====*/


/*=====ACTIVE SERVICE ALL=====*/

.service-item.active {
    cursor: pointer;
}

.service-item.active .nomal {
    top: 65%;
    color: #fff;
}

.service-item.service-seaport.active .nomal {
    top: 75%;
}

.service-item.active .nomal {
    margin-bottom: 20px;
}

.service-item.active .nomal .video {
    display: block;
    font-size: 10px;
    position: relative;
    text-transform: uppercase;
    padding-left: 20px;
    text-align: left;
    cursor: pointer;
    z-index: 99;
    font-family: 'Lato-Bold';
    letter-spacing: 1px;
    padding-top: 9px;
}

.go-all.active {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    right: 0;
}

.service-item.active .nomal .video:before {
    content: '';
    background-image: url(../assets/icon_play_small.png);
    background-repeat: no-repeat;
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
}

/*=====END ALL SERVICE=====*/


/*=====ACTIVE SERVICE 1=====*/
.service-seaport.active {
    background-color: rgba(237, 28, 36, 1);
    position: relative;
}


.service-content .service-airport.service-item img {
    right: 80%;
    top: 65%;
}

.service-content .service-item img {
    display: none;
    position: absolute;
    right: 50%;
    top: 50%;
    -webkit-transform: translate3d(50%, -50%, 0);
    transform: translate3d(50%, -50%, 0);
}

.service-content .service-item.active img {
    display: block;
}

.service-manufacturing.active .nomal h2 {
}


.transition {
    /*transform: translateY(-100%);*/
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    /*opacity: 0;*/
}

.transition-up {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.transition-down {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.transition-up-hide {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    position: absolute;
    z-index: -10;
}

.transition-down-hide {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    position: absolute;
    z-index: -10;
    display: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.all-item .content {
    position: relative;
    height: 100%;
}

.all-item img.bg{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    max-width: 830px;
}

.all-item .manufacturing_1 {
    position: absolute;
    /*bottom: 35%;
    right: 12%;*/
    bottom: 15.171rem;
    right: 5.152rem;
}

.all-item .manufacturing_2 {
    position: absolute;
    /*bottom: 19%;
    right: 25%;*/
    bottom: 6.608rem;
    right: 15.027rem;
}

.all-item .manufacturing_3 {
    position: absolute;
    /*top: 25%;
    left: 20%;*/
    top: 10.264rem;
    left: 7.72rem;
}


.all-item .warehouse_1 {
    position: absolute;
    /*top: 15%;
    right: 18%;*/
    top: 4.639rem;
    right: 2.839rem;
}

.all-item .warehouse_2 {
    position: absolute;
    /*bottom: 32%;
    right: 17%;*/
    bottom: 11.671rem;
    right: 3.152rem;
}

.all-item .warehouse_3 {
    position: absolute;
    /*bottom: 18%;
    right: 25%;*/
    bottom: 4.483rem;
    right: 12.589rem;
}

.all-item .warehouse_4 {
    position: absolute;
    /*bottom: 25%;
    left: 12%;*/
    bottom: 7.796rem;
    left: 7.845rem;
}

.all-item .warehouse_5 {
    position: absolute;
    /*top: 40%;
    left: 9%;*/
    top: 17.639rem;
    left: 2.845rem;
}

.all-item .warehouse_6 {
    position: absolute;
    /*top: 20%;
    left: 25%;*/
    top: 7.389rem;
    left: 18.47rem;
}


.all-item .airport_1 {
    position: absolute;
    /*bottom: 35%;
    right: 15%;*/
    bottom: 13.546rem;
    right: 12.152rem;
}

.all-item .airport_2 {
    position: absolute;
   /* bottom: 20%;
   right: 27%;*/
   bottom: 5.983rem;
   right: 18.214rem;
}

.all-item .airport_3 {
    position: absolute;
    /*bottom: 30%;
    left: 13%;*/
    bottom: 9.671rem;
    left: 9.283rem;
}

.all-item .airport_4 {
    position: absolute;
    /*top: 35%;
    left: 7%;*/
    top: 16.764rem;
    left: 2.47rem;
}

.all-item .airport_5 {
    position: absolute;
    /*top: 18%;
    left: 18%;*/
    top: 8.326rem;
    left: 9.345rem;
}

.all-item {
    display: none;
    position: relative;
    /*max-width: 1366px;*/
    margin: 0 auto;
}

.item-content {
    -webkit-transition: all 01s;
    -o-transition: all 01s;
    transition: all 01s;
    opacity: 0;
}

.item-content.active {
    opacity: 1;
    bottom: 0;
    height: 100%;
    -webkit-transition: all 01s;
    -o-transition: all 01s;
    transition: all 01s;
}

.body-item .over-flow-y {
    overflow-y: auto !important;
}

.body-item {
    overflow: hidden;
}

.all-item.active {
    display: block;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    width: 100%;
    height: 100%;
}

.item-content.active {
    content: '';
    background-image: url('../assets/all_item.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.all-item .header .logo, .header .logo {
    position: absolute;
    float: left;
}

.all-item .header p {
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    float: left;
    color: #000;
    top: 35px;
    text-align: left;
}


.all-item .header .menu {
    content: '';
    background-image: url(../assets/menu_black.png);
    background-repeat: no-repeat;
    width: 43px;
    height: 27px;
    display: block;
    position: absolute;
    right: 50px;
    top: 30px;
}

.all-item .footer {
    position: absolute;
    width: 100%;
    bottom: 20px;
    z-index: 99999;
}

.all-item .footer h2 {
    color: #000;
    font-size: 40px;
    line-height: 52px;
    font-family: 'MetaSerifPro-Book';
    text-align: center;
}

.all-item .footer p {
    margin: 0;
    bottom: 40px;
    left: 70px;
    position: absolute;
    color: #ED1C24;
    font-size: 16px;
    cursor: pointer;
}

.all-item .footer p:before {
    content: '';
    background-image: url(../assets/rms.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 35px;
    display: block;
    float: left;
    padding-right: 15px;
}

.footer .back {
    content: '';
    background-image: url('../assets/arrow_up_black.png');
    width: 28px;
    height: 162px;
    display: block;
    position: absolute;
    bottom: 40px;
    left: 20px;
    cursor: pointer;
}

.all-item .content .seaport_1 {
    position: absolute;
    /*bottom: 25%;
    right: 15%;*/
    bottom: 4.796rem;
    right: 3.464rem;
}

.all-item .content .seaport_2 {
    position: absolute;
    /*bottom: 25%;
    left: 15%;*/
    bottom: 7.983rem;
    left: 9.345rem;
}

.all-item .content .seaport_3 {
    position: absolute;
    width: 100%;
    /*top: 20%;
    left: 20%;*/
    left: 7.033rem;
    top: 8.889rem;
}

.all-item .content .description {
    color: #000;
    font-size: 20px;
    line-height: 26px;
    float: left;
    height: 130px;
    position: relative;
    display: inline-block;
    width: 350px;
    text-align: right;
}

.all-item .content .description p {
    margin: 0;
    position: absolute;
    top: 40%;
    border-bottom: 1px solid #0E8AFA;
    left: 0;
    text-align: left;
    padding-left: 10px;
    font-family: 'MetaSerifPro-Book';
    display: inline-block;
    cursor: pointer;
}


.all-item .content .image img {
    cursor: pointer;
    max-width: 130px;
    max-height: 130px;
}

.all-item .content .image {
    background-color: #fff;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    position: relative;
    display: table;
    float: left;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16);
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

.all-item .content .image .table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/*=====END SERVICE 1=====*/

/*=====ACTIVE SERVICE 2=====*/
.service-manufacturing.active {
    background-color: rgb(247, 196, 70);
}

.service-manufacturing.active .nomal {
    top: 20%
}

.service-content .service-manufacturing.service-item img {
    top: unset;
    bottom: -50px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.service-content .service-warehouse.service-item img {
    top: -8.125rem;
    right: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}


/*=====END SERVICE 2=====*/

/*=====ATIVE SERVICE 3=====*/
.service-warehouse.active {
    background-color: rgb(213, 213, 213);
}


/*=====END SERVICE 3=====*/

/*=====ACTIVE SERVICE 4=====*/
.service-airport.active .nomal {
    top: 40%;
}
.service-airport.active {
    background-color: rgb(71, 138, 178);
}

/*=====END SERVICE 4=====*/

/*++++++++++DETAILS ITEM SERVICE++++++++++*/

.item-details {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.item-details.active {
    bottom: 0;
    height: 100%;
    -webkit-animation: 1s;
    animation: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.item-details .item {
    display: none;
}
.item-details .item.active {
    display: block;
    height: 100%;
}

.item-details .detail-content {
    height: 100%;
    position: relative;
}

.item-details .detail-content .view, .item-details .detail-content .video {
    position: relative;
}

.item-details .detail-content .view {
    position: relative;
    display: inline-block;
    width: 100%;
}

.item-details .detail-content .video p {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    color: #fff;
    text-transform: uppercase;
    margin-top: 90px;
    font-family: 'Lato-Regular';
    letter-spacing: 2px;
}

.detail-content .content-left {
    width: 50%;
    float: left;
    padding: 0 10px;
    height: 100%;
    position: relative;
}

.detail-content .content-left > div {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.detail-content .content-left .service-img.main {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    max-height: 250px;
}

.detail-content .content-right {
    width: 50%;
    float: right;
    position: relative;
    text-align: left;
    color: #000;
    border-left: 2px solid rgb(210, 210, 210);
    padding-left: 96px;
    margin-top: 14.188rem;
    margin-bottom: 3.344rem;
}

.detail-content .content-right h2, .detail-content .content-right p {
    margin: 0;
}

.detail-content .content-right h2 {
    font-size: 40px;
    line-height: 52px;
    font-family: 'MetaSerifPro-Book';
    margin-bottom: 26px;
    font-weight: 400;
}

.detail-content .content-right > p {
    color: #272727;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Lato-Bold';
    text-transform: uppercase;
    margin: 24px 0;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.detail-content .content-right ul {
    padding-left: 16px;
    margin: 0;
    margin-bottom: 50px;
}

.detail-content .content-right ul li, .detail-content .content-right > ul > li > ul > li {
    color: #272727;
    font-size: 16px;
    line-height: 25px;
    list-style-type: none;
    font-family: 'Lato-Light';
    padding: 15px 0;
    max-width: 430px;
    position: relative;
}

.detail-content .content-right > ul > li:before {
    content: '';
    border: 1px solid #000;
    height: 9px;
    width: 9px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    left: -18px;
    top: 22px;
}


.detail-content .content-right ul li {
    color: #272727;
    font-size: 16px;
    line-height: 25px;
    list-style-type: none;
    font-family: 'Lato-Light';
    padding: 15px 0;
    max-width: 430px;
    position: relative;
    padding-left: 12px;
}


.detail-content .content-right h5 {
    color: #272727;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    font-family: 'Lato-Light';
}

.rms .detail-content .content-right h5 {
    font-size: 16px;
    line-height: 25px;
    color: #272727;
    font-family: 'Lato-Light';
    font-weight: normal;
    margin-right: 20px;
}

.item.rms .content-left {
    position: relative;
    height: 80%;
}

.item.warehouse_1 .detail-content .content-right h5 p {
    font-weight: 300;
    max-width: 455px;
    font-size: 16px;
}

.detail-content .content-right a {
    color: #005AAB;
    font-size: 20px;
    line-height: 26px;
    border-bottom: 2px solid #005AAB;
    text-decoration: none;
}

.detail-content .content-right ul.no-style li {
    list-style-type: none;
}

.detail-content .content-right .download {
    display: inline-block;
    float: left;
    padding-right: 30px;
}

.detail-content .video video::-webkit-media-controls {
     display: none !important;
}

/*.detail-content .video video::-webkit-media-controls-toggle-closed-captions-button,
.detail-content .video video::-webkit-media-controls-volume-slider,
.detail-content .video video::-webkit-media-controls-overlay-play-button {
    display: none !important;
}
*/
.detail-content .video .play-button {
    background-color: rgba(255, 255, 255, 0.75);
    width: 112px;
    height: 112px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    cursor: pointer;
}
.detail-content .video .play-button span {
    border-left: solid 38px rgb(0,0,0);
    border-bottom: solid 22px transparent;
    border-top: solid 22px transparent;
    margin: 0 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    cursor: pointer;
}

    
.menu-body.show {
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.16);
    box-shadow: 0 10px 20px rgba(0,0,0,.16);
}

.hide-overflow {
    overflow: hidden;
}

.menu-body {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    position: fixed; 
    top: 0;
    max-width: 357px;
    width: 100%;
    z-index: 10;
    background: #fff;
    -ms-transform: translateX(357px);
    transform: translateX(357px);
    -webkit-transform: translateX(357px);
    height: 100%;
    right: 0;
    z-index: 100;
}
.menu-body.show {
    right: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    z-index: 99999;
}

.menu-body img.close-menu {
    position: absolute;
    right: 50px;
    top: 40px;
    cursor: pointer;
    z-index: 999;
}


.menu-body ul li {
    list-style-type: none;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.menu-body ul li a {
    color: #354D63;
    font-size: 21px;
    line-height: 27px;
    font-family: 'MetaSerifPro-Book';
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.menu-body ul li ol {
    padding-left: 0;
}

.menu-body ul li ol li {
    border-bottom: none;
}

.menu-body ul {
    position: absolute;
    top: 5%;
    width: 90%;
    padding: 10px 50px;
}

.menu-body ul li:last-child {
    border: none;
}

.menu-body .st-engineering {
    cursor: pointer;
    max-width: 150px;
    padding-top: 15px;
}

.menu-item.active, .menu-item.active, .menu-item.hover {
    font-weight: bold;
}

.menu-body ul li .submenu {
    /*display: none;*/
}

.menu-body ul li .submenu li a {
    font-size: 14px;
    line-height: 18px;
    font-family: 'MetaSerifPro-Book';
    color: #4D6065;
}

.menu-body ul li .submenu li a.active, .menu-body ul li .submenu li a.hover {
    font-weight: bold;
}


/*.menu-item.solutions.open:after {
    content: '';
    background-image: url(../assets/menu_arrow_up.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 9px;
    display: inline-block;
    text-align: right;
    right: 0;
    vertical-align: middle;
    margin-left: 10px;
    }*/

.menu-item.solutions:after {
    content: '';
    background-image: url(../assets/menu_arrow_down.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 9px;
    display: inline-block;
    text-align: right;
    right: 0;
    vertical-align: middle;
    margin-left: 10px;
}

/*++++++++++END DETAILS ITEM SERVICE++++++++++*/


/*++++++++++VIDEO INTRO++++++++++*/
.video-intro.active {
    display: block !important;
}
.video-intro {
    -webkit-transform: all 1s;
    -ms-transform: all 1s;
    transform: all 1s;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.62);
    z-index: 9999;
}

.video-intro .video-content {
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.video-intro .video-content .video-detail {
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    max-width: 1100px;
    width: 100%;
    left: 50%;
    margin: 0 auto;
}

.popup-content .video-detail {
    display: inline-block;
    width: 100%;
    height: auto;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.video-intro .video-content .close-video-intro {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 9999;
    background: rgba(0,0,0,0.56);
    width: 25px;
    padding: 5px;
}

span.prev-video {
    background-image: url(../assets/btn_prev_white.png);
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
}

span.next-video {
    background-image: url(../assets/btn_next_white.png);
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
}

/*++++++++++END VIDEO INTRO++++++++++*/

/*------animation-------*/

.transition-up-hide, .service-manufacturing.active, .service-seaport.active,
.service-warehouse.active, .service-airport.active{
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s
}

.item-content.active{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.item-content {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.item-content.transition-up-hide {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);    
    height: 100%;
    width: 100%;
}

.services-page .service-content {
    margin: 0;
}

.service-content{
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/*------end--animation-------*/


/*=========SLICK=========*/

.detail-content .content-left .thumbnail {
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
}

.detail-content .content-left .thumbnail img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    max-width: 80px;
    max-height: 80px;
}

.slick-slide > div {
    padding: 0 5px;
}

.detail-content .thumbnail .around.active {
    border: 1px solid #000;
}

.slick-prev.slick-arrow, .slick-next.slick-arrow {
    display: none !important;
}

.for-main {
    position: relative;
    height: 350px;
}

span.prev-item {
    content: '';
    background-image: url(../assets/btn_prev.png);
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 200px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
    display: none;
}

span.next-item {
    content: '';
    background-image: url(../assets/btn_next.png);
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 200px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
    display: none;
}

/*=========END SLICK=========*/


/*CUSTOM*/
.menu-body .menu-content {
    position: relative;
    overflow: auto;
    height: 100%;
    padding: 10px;
}

.menu-body .menu-content {
    position: relative;
}

.all-item .content .description p.right {
    right: 0;
    left: auto;
    padding-left: 0;
    padding-right: 10px;
}

.body-thumbnail {
    margin-top: 10px;
}

.video-home .popup-content .content .close-video {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 99;
    background: rgba(0,0,0,0.56);
    width: 25px;
    padding: 5px;
}

.video-home .popup-content .content {
    max-width: 1200px;
}

span.pre-detail {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 20px;
    background-image: url(../assets/btn_prev.png);
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    display: inline-block;
    cursor: pointer;
    z-index: 999;
    background-size: contain;
}

span.next-detail {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
    background-image: url(../assets/btn_next.png);
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    display: inline-block;
    cursor: pointer;
    z-index: 999;
    background-size: contain;
}

.slick-initialized .slick-slide {
    height: auto;
}

.mobile-header {
    position: fixed;
    background: #fff;
    z-index: 9999;
    display: none;
    height: 85px;
    width: 100%;
    top: 0;
}
.mobile-header .logo {
    position: absolute;
    top: 16px;
}

.mobile-header .menu {
    position: absolute;
    top: 16px;
}
.body-content {
    /*display: table;*/
    overflow: hidden;
}
.all-footers.footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}
.all-footers.footer p {
    font-family: 'Lato-Regular';
    background: #354D63;
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    margin: 0;
}

.body-content.warehouse .item-content {
    padding-bottom: 50px;
}
.detail-content .content-right h2.tug a {
    font-size: 40px;
    line-height: 52px;
    font-family: 'MetaSerifPro-Book';
    margin-bottom: 26px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    border: none;
}

.around {
    width: 80px !important;
    height: 80px;
    padding: 0 5px;
    position: relative;
    border: 1px solid #ddd;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.around:last-child {
    margin-right: 0;
}

.slick-track .slick-slide {
    display: inline-block;
    float: left;
    max-width: 80px;
    margin: 0 0.738rem;
}

.body-content {
    overflow: auto;
}


.all-item {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}


.seaport-content.content,
.manufacturing-content.content,
.warehouse-content.content,
.airport-content.content {
    overflow: hidden;
}

/*CUSTOM*/


/*====================================================FIX IE====================================================*/
    @media all and (-ms-high-contrast:none)
     {
        *::-ms-backdrop, .service-seaport.active { background-color: rgba(237, 28, 36, 1); position: relative; } /* IE11 */
        *::-ms-backdrop, .service-content .service-warehouse.service-item img {transform: none;} /* IE11 */
        *::-ms-backdrop, .service-content .service-manufacturing.service-item img {top: 10%;} /* IE11 */
        *::-ms-backdrop, .all-item.manufacturing .content .description p.right {left: auto !important;} /* IE11 */
        *::-ms-backdrop, .service-item .nomal .title.active {display: inline-block !important;} /* IE11 */
        *::-ms-backdrop, .body-content.seaport {overflow-x: hidden;} /* IE11 */
        *::-ms-backdrop, .body .all-item.airport img.bg {width: 70% !important;} /* IE11 */
        *::-ms-backdrop, .body-item { overflow: hidden;} /* IE11 */
        *::-ms-backdrop, .body-item .over-flow-y {overflow-y: auto !important;} /* IE11 */
     }
/*====================================================END FIX IE====================================================*/



/*=====================================================RESPONSIVE=====================================================*/

/*--------1920px--------*/
@media screen and (min-width: 1920px) {
    #aboutPage .about-content {
        height: calc(100% - 42px);
    }
}
/*--------1920px--------*/


/*--------1440px--------*/
@media screen and (max-width: 1440px) {
    span.prev-item {
        left: 50px;
    }
    span.next-item {
        right: 50px;
    }
}
/*--------1440px--------*/

/*--------1366--------*/
@media screen and (min-width: 1366px) {
    .all-item img.bg {
        max-width: none;
        width: 60%;
    }

    .all-item .content .seaport_1 {
        position: absolute;
        bottom: 11.796rem;
        right: 3.464rem;
    }

    .all-item .content .seaport_2 {
        position: absolute;
        bottom: 13.983rem;
        left: 9.345rem;
    }

    .all-item .content .seaport_3 {
        position: absolute;
        left: 7.033rem;
        top: 9.889rem;
    }

    .all-item .manufacturing_1 {
        position: absolute;
        bottom: 35%;
        right: 10%;
    }

    .all-item .manufacturing_2 {
        position: absolute;
        bottom: 19%;
        right: 25%;
    }

    .all-item .manufacturing_3 {
        position: absolute;
        top: 25%;
        left: 10%;
    }


    .all-item .warehouse_1 {
        position: absolute;
        top: 15%;
        right: 18%;
    }

    .all-item .warehouse_2 {
        position: absolute;
        bottom: 32%;
        right: 17%;
    }

    .all-item .warehouse_3 {
        position: absolute;
        bottom: 18%;
        right: 25%;
    }

    .all-item .warehouse_4 {
        position: absolute;
        bottom: 25%;
        left: 12%;
    }

    .all-item .warehouse_5 {
        position: absolute;
        top: 40%;
        left: 9%;
    }

    .all-item .warehouse_6 {
        position: absolute;
        top: 20%;
        left: 25%;
    }


    .all-item .airport_1 {
        position: absolute;
        bottom: 35%;
        right: 13%;
    }

    .all-item .airport_2 {
        position: absolute;
        bottom: 20%;
        right: 23%;
    }

    .all-item .airport_3 {
        position: absolute;
        bottom: 23%;
        left: 10%;
    }

    .all-item .airport_4 {
        position: absolute;
        top: 35%;
        left: 5%;
    }

    .all-item .airport_5 {
        position: absolute;
        top: 15%;
        left: 8%;
    }
}

/*--------END 1366--------*/

/*--------Height 600px--------*/
@media screen and (max-height: 650px) {
    body .all-item img.bg {
        height: 50%;
    }
}
/*--------Height 600px--------*/


@media screen and (min-width: 992px) {
    .core-content .details h5 {
        font-size: 18px;
    }
}

/*--------1366--------*/
@media screen and (max-width: 1366px) {
    .service-warehouse.active img.active {
        max-width: 500px;
    }
    .video-home .popup-content .content {
        max-width: 600px;
    }

    .contact-page .contact-content .content-left .content {
        left: 20%;
    }
}

/*--------END 991px--------*/


/*--------min 768px--------*/
@media screen and (min-width: 768px) {
    .all-item.manufacturing .content .manufacturing_1 .description p,
    .all-item.manufacturing .content .manufacturing_2 .description p {
        padding-left: 0 !important;
    }
    
    
}
/*--------END 768px--------*/
/*--------768px--------*/
@media screen and (max-width: 768px) {
    .hide-overflow, .body-item {
        overflow: auto;
        overflow-x: hidden;
    }

    .menu-body .menu-content .content ul {
        transform: none;
        top: 0;
    }
}

/*--------768px--------*/


/*--------991--------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .contact-page .contact-content .content-right {
        width: 60%;
    }
    .contact-page .contact-content .content-left {
        width: 40%;
    }

}

@media screen and (max-width: 991px) {
   /*SERVICE*/
    
    a.prev-detail-service {
        left: 5px;
    }
    
    a.next-detail-service {
        right: 5px;
    }

    a.prev-detail-service, 
    a.next-detail-service {
        width: 30px;
        height: 30px;
    }

   .footer span.scroll-down {
        right: -30px;
    }
    .footer .back {
        left: 20px;
    }

    .service-item.active img.active {
        max-width: 400px;
        /*right: 80%;*/
    }
    .service-footer .next {
        right: 0;
    }
    .service-footer .next {
        right: 0;
    }
    .service-content .service-warehouse.service-item img {
        top: -4.825rem;
    }
    
    .service-manufacturing.active .nomal {
        left: 15px;
    }

    .all-item .footer h2 {
        font-size: 25px;
    }

    .all-item img.bg {  
        width: 50%;
    }

    .all-item .content .seaport_3 {
        left: 1.033rem;
    }
    .all-item .content .seaport_2 {
        left: 5.345rem;
    }
    .all-item .content .seaport_1 {
        right: 1.464rem;
        bottom: 7.796rem;
        z-index: 99;
    }

    .all-item .content .description {
        font-size: 14px;
    }
    .all-item .manufacturing_3 {
        left: 10px;
    }

    .all-item .manufacturing_1 {
        right: 10px;
    }

    .all-item .manufacturing_2 {
        right: 5.027rem;
    }

    .all-item .warehouse_1 {
        top: 5.639rem;
        right: 1rem;
    }
    .all-item .warehouse_2 {
        right: 1rem;
    }

    .all-item .warehouse_3 {
        right: 3.589rem;
    }
    .all-item .warehouse_4 {
        left: 5.845rem;
    }

    .all-item .warehouse_5 {
        top: 12.639rem;
        left: 1rem;
    }

    .all-item .warehouse_6 {
        top: 4.389rem;
        left: 4.47rem;
    }

    .all-item .airport_5 {
        top: 7rem;
        left: 1rem;
    }

    .all-item .airport_4 {
        top: 15.764rem;
        left: 0.47rem;
    }

    .all-item .airport_3 {
        bottom: 7.671rem;
        left: 5.283rem;
    }
    .all-item .airport_2 {
        bottom: 7.983rem;
        right: 4.214rem;
    }
    .all-item .airport_1 {
        bottom: 15.546rem;
        right: 0.5rem;
    }



    /*ALL SERVIECE*/
    .all-item .header .logo, .header .logo {
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
    }
    .all-item .header p {
        top: 10px;
    }
    .all-item .header .menu {
        top: 10px;
        right: 10px;
    }
    /*END ALL SERVIECE*/
    
    .detail-content .content-left .service-img.main {
        max-width: 205px;
    }

    .detail-content .content-right {
        padding: 0 20px;
    }
    .detail-content .content-right h2 {
        font-size: 25px;
    }

    /*END SERVICE*/
}

/*--------END 991px--------*/


/*--------767px--------*/
@media screen and (max-width: 768px) {

    body .all-item .footer h2 {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .rms .active .detail-content .content-left .service-img.main {
        max-width: 130px;
    }

    body .all-item .header p {
        padding-top: 50px;
    }

    a.prev-detail-service, a.next-detail-service {
        top: 160px;
    }
    /*HOME*/

    .mobile-header {
        display: block;
    }

    .home-content h2 {
        font-size: 30px;
        padding: 0 15px;
    }
    .video-home .popup-content .content .close-video {
        /*top: 70px;*/
    }
    .video-home .popup-content .content {
        max-width: 300px;
    }
    /*END HOME*/
    
    .contact-page {
        position: relative;
        display: table;
    }
    .contact-page .contact-footer.footer {
        position: fixed;
    }

    /*SERVIECE*/
    .service-item {
        display: none;
    }

    .service-item.active {
        width: 100%;
        height: 100%;
        display: inline-block;
    }
    .service-content .service-item .nomal {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: auto;
        margin: 0 15px;
        top: 20%;
        text-align: center;
    }

    .service-seaport.service-item.active img.active {
        max-width: 600px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 20%;
    }

    .service-warehouse.service-item.active img.active {
        max-width: 600px;
        right: 0;
        top: -7rem;
    }

    .service-manufacturing.service-item.services-2.active img.active {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 20%;
    }

    .service-airport.service-item.services-4.active img.active {
        max-width: 600px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 40%;
    }

    .service-item.service-seaport.active .nomal {
        top: 75%;
        margin: 0;
    }
    .service-warehouse.service-item.services-3.active .nomal.warehouse {
        top: 65%;
    }

    .service-content .service-item.active .nomal .title {
        text-align: center;
    }
    .service-item.active .nomal .video {
        text-align: center;
        margin: auto;
        display: inline-block;
    }

    .service-manufacturing.service-item.services-2.active img.active {
        top: 20%;
    }
    .service-manufacturing.active .nomal {
        top: 10%;
    }

    .detail-content .content-left {
        width: 100%;
        float: none;
        display: block;
        position: relative;
        text-align: center;
        margin-top: 0px;
    }

    .detail-content .content-right {
        padding: 20px 80px;
        width: 100%;
        float: none;
        border: none;
        left: 0;
        clear: both;
        position: relative;
        display: table;
    }
    /*END SERVIECE*/

    /*ALL SERVIECE*/
    
    /*END ALL SERVIECE*/

    .detail-content .content-right {
        margin-top: 4.188rem;
    }
    .contact-page .contact-content .content-left .content {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        max-width: none;
        padding: 0 50px;
    }
    .contact-page .contact-content .content-left {
        height: auto; 
        float: none; 
        position: relative;
        width: 100%;
    }
    .contact-page .contact-content .content-right {
        max-height: 400px;
        float: none; 
        position: relative;
        margin-top: 15rem;
        width: 100%;
    }

    .mobile-header{
        background: rgba(255, 255, 255, 0.8);
        display: block;
    }
    .mobile-header .menu{
        right: 30px;
        top: 30px;
    }

    .mobile-header .logo{
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .service-header{
        display: none;
    }
    .contact-header, .core-header{
        display: none;
    }
    .services-page .service-content{
        padding-top: 85px;
    }

    span.pre-detail,
    span.next-detail {
        width: 30px;
        height: 30px;
        top: 30%;
    }
}

/*--------END 767px--------*/


/*--------570px--------*/
@media screen and (max-width: 570px) {
    .service-airport.service-item.services-4.active img.active {
        max-width: 400px;
    }
    .service-seaport.service-item.active img.active {
        max-width: 400px;
    }
    .service-warehouse.service-item.active img.active {
        max-width: 400px;
        right: 0;
        top: 0rem;
    }

    .all-item .content .seaport_3 {
        width: 100%;
        top: 7rem;
    }

    .all-item .content .seaport_2 {
        width: 100%;
        top: 40%;
    }

    .detail-content .content-right .download a, .detail-content .content-right .watch-video a {
        font-size: 14px;
        cursor: pointer;
    }
}

/*--------END 570px--------*/


/*--------480px--------*/
@media screen and (max-width: 480px) {
    /*HOME*/
    .video-home .popup-content .content {
        max-width: 320px;
    }
    /*END HOME*/

    span.next-item {
        right: 10px;
    }
    span.prev-item {
        left: 10px;
    }
    .footer .back {
        left: 5px;
    }
    .footer span.scroll-down {
        right: -35px;
    }
    .slick-list.draggable {
        margin: 0 20px;
    }
    .detail-content .content-right {
        padding: 20px 42px;
    }

    .detail-content .video .play-button span {
        border-left: solid 20px rgb(0,0,0);
        border-bottom: solid 12px transparent;
        border-top: solid 12px transparent;
    }

    .detail-content .video .play-button {
        width: 60px;
        height: 60px;
    }
    .all-footers.footer p {
        font-size: 10px;
        line-height: 10px;
    }
}

/*--------END 480px--------*/

/*--------TIEN NV 449px--------*/
@media screen and (max-width: 449px) {

    .mobile-header .logo{
        width: 142px;
        top: 22px;
    }
    .mobile-header .menu{
        right: 15px;
        width: 28px;
        height: 18px;
        top: 34px;
        background-size: contain;
    }
    .mobile-header .menucontact .menu{
        margin-right: 10px;
    }
}

/*--------END 449px--------*/

/*=====================================================END RESPONSIVE=====================================================*/

/*copy from T_custom*/
@media (max-width: 768px){
    .service-header .logo{
        top: 16px;
    }
    .service-footer .prev{
        display: block;
    }
    .service-header, .about-header{
        display: none;
    }
    .service-item.active{
        width: 101%;
    }
    .service-content{
        overflow-x: hidden;
    }
    div.service-seaport.service-item.active img.active{
        top: 14%;
        max-width: 430px;
    }
    .service-item.service-seaport.active .nomal{
        top: 68%;
    }
    .service-airport.active .nomal{
        top: 22%;
    }
    .service-manufacturing.service-item.services-2.active img.active{
        top: 22%;
        max-width: 320px;
    }
    .service-airport.service-item.services-4.active img.active{
        max-width: 400px;
        top: 45%;
    }
    .service-content .service-item.active .nomal .title{
        font-size: 34px;
    }
    .service-item.active .nomal .video{
        font-size: 14px;
    }
    .service-warehouse.service-item.active img.active{
        /*top: -100px;*/
        top: 0;
        max-width: 500px;
    }
}

@media (min-width: 768px) {

    .body-thumbnail {
        margin-left: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    div.service-seaport.service-item.active img.active{
        top: 28%;
        max-width: 520px;
    }
    .service-manufacturing.service-item.services-2.active img.active{
        top: 25%;
        max-width: 480px;
    }
    .service-warehouse.service-item.active img.active{
        top: -80px;
        max-width: 600px;
    }
    .service-airport.service-item.services-4.active img.active{
        max-width: 560px;
    }
}

@media screen and (max-width: 670px) {
    .body-thumbnail {
        margin: -10px 50px 0 50px;
    }
}

/*TIEN NV*/
@media (max-width: 449px){
    .service-footer .prev{
        left: 15px;
        width: 130px;
    }
    .service-footer .next{
        width: 130px;
        width: 130px;
        background-position: right top;
        right: 15px;
    }
    div#servicePage, div#servicePage .fp-tableCell{
        height: 100% !important;
    }
    .service-item.service-seaport.active .nomal{
        top: 62%;
    }
    .service-content .service-item .nomal{
        margin: 0;
        top: 4%;
    }
    div.service-manufacturing.service-item.services-2.active img.active{
        top: 14%;
        max-width: 390px;
    }
    div.service-warehouse.service-item.active img.active{
        max-width: 350px;
    }
    div.service-airport.service-item.services-4.active img.active{
        max-width: 340px;
        top: 38%;
    }
    div.service-seaport.service-item.active img.active{
        top: 10%;
        max-width: 355px;
    }
}