.news-content .row-item {
    margin: 0 -15px;
	display: flex;
	margin-bottom: 30px;
}
.news-content img{
	max-width: 100%;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.news-content .row-item:nth-of-type(2n) .col-image{
	order: 0;
}
.news-content .row-item:nth-of-type(2n) .col-text {
	order: 1;
}
.news-content .row-item:nth-of-type(2n+1) .col-image{
	order: 1;
}
.news-content .row-item:nth-of-type(2n+1) .col-text {
	order: 0;
}

.news-content .col-image img {
    max-width: 100%;
}

.news-content .col-image {
    width: 63%;
    float: left;
    padding: 15px;
}

.news-content .col-text {
    width: 37%;
	position: relative;
	float: left;
    padding: 15px;
}
body.body-item.news {
    overflow: visible;
    height: auto;
    color: #000;
    font-size: 14px;
}
.news-content {
    padding-top: 150px;
	padding-bottom: 130px;
}
.page-title h1 {
    text-align: center;
	font-size: 40px;
	font-family: MetaSerifPro-Book;
	font-weight: normal;
	margin-bottom: 50px;
}
.news-content .col-text .text-wrap {
    position: absolute;
    bottom: 15px;
    top: 15px;
    left: 15px;
    right: 15px;
	background: #EDEDED;
	padding: 30px;
}
.news-content .col-image .image-wrap {
    position: relative;
}
.news-content .col-image span {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 12px;
    font-family: Lato-Bold;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 20px;
    background: #C30206;
	line-height: 1.4;
	letter-spacing: 2px;
}
.news-content  .row-item:nth-of-type(2n+1) .col-image span{
	right: auto;
    left: 30px;
}
.news-content .col-image span.new-article{
	background: #F7C446;
}
.news-content .col-image span.press-release{
	background: #043560;
}
.news-content .col-text h3{
	word-break: break-word;
	font-size: 25px;
	font-family: MetaSerifPro-Book;
	font-weight: normal;
}
a.read-more{
	color: #043560;
	text-transform: uppercase;
	font-size: 12px;
	font-family: Lato-Bold;
	margin-top: 20px;
	display: block;
    text-decoration: none;
}
.news-content .col-text .text-wrap .desc {
    max-height: 85px;
    overflow: hidden;
}
.pagination ul.page-numbers li {
    display: inline-block;
	font-family: Lato-Bold;
	font-size: 21px;
	margin: 0 10px;
}
.pagination ul.page-numbers li a.page-numbers{
	opacity: 0.19;
	color: #000000;
	text-decoration: none;
}
.pagination ul.page-numbers li .page-numbers.current{
	opacity: 1;
}
.pagination ul.page-numbers {
    padding: 0;
    text-align: center;
	margin-top: 170px;
}
.news.details .news-content .content img {
	margin: 30px 0;
	
}
.news-content  .events-contian  img {
	max-width: 100%;
    object-fit: cover;
}
.events-contian .custom-object-fit {
  position: relative;
  background-size: cover;
  background-position: center center;
}
.events-contian .custom-object-fit img {
	opacity: 0;
}
.events-contian .row-image{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.events-contian .col-gallery .img{
	-ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    cursor: pointer;
	padding: 0 15px;
	margin-bottom: 30px;
	cursor: pointer;
}
.events-contian{
	display: inline-block;
	width: 100%;
}
.events-contian .col-info {
    width: 25%;
    float: left;
    padding-right: 35px;
}
.events-contian .col-gallery {
    width: 75%;
    float: right;
    padding-left: 15px;
}
body.body-item.news.details .news-content {
    padding-top: 80px;
	max-width: 810px;
    margin: 0 auto
}
.news-content h2.title{
	font-size: 35px;
	font-family: MetaSerifPro-Book;
	font-weight: normal;
	color: #000000;
	margin: 30px 0 40px;
	text-transform: capitalize;
}
.news-content .content, .news-content .content p ,
.news-content .events-date p {
	
	font-family: Lato-Light;
	font-size: 16px;
	line-height: 1.4;
}
.news.event .news-content .content p {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}
.events-contian h2.title {
	word-break: break-word;
    margin-top: 0;
}
.news-content .events-contian .row-image img {
    height: 16vw;
}
.events-triggle {
    display: inline-block;
    width: 100%;
	position: fixed;
    top: 0;
    left: 0;
	bottom: 0;
    height: 100%;
    padding: 0 15%;
    background: #000;
    z-index: 9999;
	overflow: hidden;
}
span.close:before {
    content: "";
    width: 30px;
    height: 2px;
    background: #fff;
    display: block;
    transform: rotate(-45deg);
    position: relative;
    top: 12px;
    left: -1px;
}

span.close {
    position: absolute;
    right: 50px;
    top: 30px;
    text-align: center;
	width: 30px;
    height: 30px;
	cursor: pointer;
}

span.close:after {
    content: "";
    width: 30px;
    height: 2px;
    background: #fff;
    display: block;
    transform: rotate(45deg);
	position: relative;
    top: 11px;
    left: 0px;
}
.body-content{
	position: relative;
}
.events-triggle .owl-carousel .owl-stage{
	display: -ms-flexbox;
	display: flex;
    align-items: center;
}
.events-triggle .owl-carousel .owl-item .img {
    margin-left: 2px;
}
.events-triggle .owl-carousel .owl-nav button.owl-prev{
	width: 20px;
	height: 30px;
	background: url(../images/prev.svg) no-repeat center center;
	position: absolute;
	left: -40px;
	top: 50%;
	margin-top: -15px;
	outline: 0;
	border: 0;
}
.events-triggle .owl-carousel .owl-nav button.owl-next{
	width: 20px;
	height: 30px;
	background: url(../images/next.svg) no-repeat center center;
	position: absolute;
	right: -40px;
	top: 50%;
	margin-top: -15px;
	outline: 0;
	border: 0;
}
.events-triggle .owl-carousel .owl-stage-outer{
	position: static;
}
.events-triggle .owl-carousel .owl-nav button.disabled {
    opacity: 0.5;
}
.news-content .events-gallery{
 	height: 100%;
    display: flex;
	-ms-flex-align: center;
    align-items: center;
}
.date.newsdate{
	margin-bottom: 15px;
}
.text-wrap a:hover{
	color: #0056b3;
}
.news-banner img{ max-width: 100%;}
.pagination{
	-ms-flex-pack: center;
    justify-content: center;
}
.btn.btn-link.read-more{ padding: 0; }
@media (min-width: 1200px){
	.news-content .events-contian .row-image img{
		height: 221px;
	}
	.news-content  .events-contian  img{
		max-height: 35vw;
	}
}
@media (max-width: 1260px) and (min-width: 992px){
	.container {
		max-width: none;
		padding: 0 50px;
		margin: 0 auto;
	}
}
@media (max-width: 1199px){
	.pagination ul.page-numbers{
		margin-top: 12.45vw;
	}
	.events-triggle{
		padding: 50px 10%;
	}
	.news-content {
		padding-top: 13.177vw;;
	}
	.news-content .col-text h3{
		margin: 10px 0;
	}
	.news-content .col-image {
		width: 60%;
	}
	.news-content .col-text {
		width: 40%;
	}
	.news-content h2.title{
		margin-bottom: 20px;
	}
}
@media (max-width: 991px){
	.events-triggle{
		position: fixed;
	}
	.news-content .col-text .text-wrap{
		position: static;
	}
	.events-contian .col-info {
		width: 100%;
		padding-right: 0;
		margin-bottom: 20px;
	}
	.events-contian .col-gallery {
		width: 100%;
		padding-left: 0;
	}
	.news-content .events-contian .row-image img {
		height: 25vw;
	}
	
}
@media (max-width: 991px) and (min-width: 768px){
	.news-content .col-image img {
		max-width: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	
	.news-content .col-image .image-wrap {
		position: absolute;
		bottom: 15px;
		top: 15px;
		left: 15px;
		right: 15px;
	}
	.news-content .col-image{
		position: relative;
	}
}
@media (max-width: 767px){
	.page-title h1 { font-size: 30px;}
	.news-content {
		padding-top: 0;
	}
	.news-content .col-text .text-wrap .desc {
		max-height: none;
	}
	.news-content .row-item {
		margin: 0;
		display: inline-block;
		margin-bottom: 30px;
		vertical-align: top;
	}
	.news-content .row-item .col-image , .news-content .row-item .col-text{
		padding: 0;
		margin-bottom: 15px;
		width: 100%;
	}
	.events-contian .col-gallery .img{
		padding: 0 5px;
		margin-bottom: 10px;
	}
	.events-contian .row-image{
		margin-right: -5px;
		margin-left: -5px
	}
	.events-triggle .owl-carousel .owl-nav button.owl-prev{
		left: -30px;
	}
	.events-triggle .owl-carousel .owl-nav button.owl-next{
		right: -30px;
	}
	span.close{
		right: 15px;
		top: 15px;
	}
}
@media (max-width: 767px){
	.news-content .col-image span{
		right: 20px;
		top: 20px;	
		padding: 10px 15px;
		letter-spacing: 1px;
	}
	.news-content .col-text .text-wrap{
		padding: 20px;
	}
	.news-content .col-image.right span{
		right: auto;
		left: 20px;
	}
	.events-contian .col-gallery .img {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.news-content .events-contian .row-image img {
		height: 40vw;
	}
}
@media (max-width: 500px){
	.pagination ul.page-numbers{
		margin-top: 0;
	}
	.news-content{
		padding-bottom: 70px;
	}
	
}