/*.header{*/
    /*z-index: 999;*/
/*}*/
/*.page .header .menu .menu-open .icon {*/
    /*background-image: url(../images/menu.svg);*/
/*}*/
/*.page .footer .line {*/
    /*background-image: url(../images/Line37.png);*/
/*}*/
/*.page .footer .line+a {*/
    /*background-image: url(../images/Ellipse38.png);*/
    /*background-repeat: no-repeat;*/
    /*text-align: center;*/
    /*height: 36px;*/
    /*width: 37px;*/
/*}*/
/*.page .footer .line+a .icon{*/
    /*background-image: url(../images/Union13.png);*/
    /*background-repeat: no-repeat;*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*text-align: center;*/
    /*margin: 0 auto;*/
    /*position: relative;*/
    /*top: 10px;*/
    /*right: 2px;*/
/*}*/
/*.content .listing-service .col-md-3{*/
    /*!*   -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);*/
   /*-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);*/
   /*box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);*!*/
    /*height:100vh;*/
    /*padding:0 0;*/
    /*position: relative;*/
/*}*/
/*.page .container-fluid{*/
    /*overflow: hidden;*/
    /*height:100vh*/
/*}*/
/*.content .listing-service .col-md-3:before{*/
    /*content: '';*/
    /*width: 1px;*/
    /*height: 100%;*/
    /*background: url(../images/Line21.png) repeat center center;*/
    /*display: block;*/
    /*z-index: 10;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
/*}*/
/*.content .listing-service .service-4.col-sm-6.col-md-3:before{display:none}*/
/*.content .listing-service .sv-content-hover {*/
    /*height: 100vh;*/
    /*padding: 0 40px;*/
    /*position: absolute;*/
    /*top: -100vh;*/
    /*transform: translateY(-50%);*/
    /*-ms-transform: translateY(-50%);*/
    /*-webkit-transform: translateY(-50%);*/
    /*padding: 0 45px;*/
    /*-webkit-transition: all 3s;*/
    /*-moz-transition: all 3s;*/
    /*-o-transition: all 3s;*/
    /*transition: all 3s;*/
    /*z-index: 9;*/
    /*width:100%*/
/*}*/
/*.content .listing-service .sv-content-hover .number{*/
    /*font-family: MetaBook;*/
    /*font-size: 11px;*/
    /*color:#000;*/
    /*width: 33px;*/
    /*height: 32px;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*text-align: center;*/
    /*background: url(../images/Ellipse17.png) no-repeat center center;*/
    /*line-height: 1;*/

/*}*/
/*.content .listing-service .sv-content-hover .text{*/
    /*margin-top:30px*/
/*}*/
/*.content .listing-service .sv-content-hover .text h4{*/
    /*font-family: MetaBook;*/
    /*font-size: 25px;*/
    /*line-height: 32px;*/
    /*margin-bottom: 6px;*/
    /*color: #fff;*/
/*}*/
/*.content .listing-service .sv-content-hover .text .desc{*/
    /*font-family: LatoLight;*/
    /*font-size:16px;*/
    /*line-height: 19px;*/
    /*color: #fff;*/
/*}*/
/*.content .listing-service .sv-content{*/
    /*position: absolute;*/
    /*bottom: 20vh;*/
    /*transform: translateY(-50%);*/
    /*-ms-transform: translateY(-50%);*/
    /*-webkit-transform: translateY(-50%);*/
    /*padding:0 45px;*/
    /*-webkit-transition: all 5s;*/
    /*-moz-transition: all 5s;*/
    /*-o-transition: all 5s;*/
    /*transition: all 5s;*/
/*}*/
/*.content .listing-service .sv-content .number{*/
    /*font-family: MetaBook;*/
    /*font-size: 11px;*/
    /*color:#000;*/
    /*width: 33px;*/
    /*height: 32px;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*text-align: center;*/
    /*background: url(../images/Ellipse13.png) no-repeat center center;*/
    /*line-height: 1;*/

/*}*/
/*.content .listing-service .sv-content .text{*/
    /*margin-top:30px*/
/*}*/
/*.content .listing-service .sv-content .text h4{*/
    /*font-family: MetaBook;*/
    /*font-size: 25px;*/
    /*line-height: 32px;*/
    /*margin-bottom: 6px;*/
    /*color: #707070;*/
/*}*/
/*.content .listing-service .sv-content .text .desc{*/
    /*font-family: LatoLight;*/
    /*font-size:16px;*/
    /*line-height: 19px;*/
    /*color: #272727;*/
/*}*/
/*.content .listing-service .sv-content-hover .text .image {*/
    /*position: absolute;*/
    /*left: auto;*/
    /*top: auto;*/
/*}*/
/*.content .listing-service .col-md-3:hover{*/
    /*-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);*/
    /*-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);*/
    /*box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);*/
    /*margin-left: -1px;*/
    /*z-index: 10;*/
/*}*/
/*.content .listing-service .col-md-3:hover:before{display:none}*/
/*.content .listing-service .col-md-3:hover .sv-content{*/
    /*bottom:-1000vh;*/
/*}*/
/*.content .listing-service .col-md-3:hover .sv-content-hover{*/
    /*opacity: 1;*/
    /*filter: alpha(opacity=100);*/
    /*top:90vh;*/
/*}*/
/*.content .listing-service .service-2.col-md-3:hover .sv-content-hover{*/
    /*top:50vh;*/
/*}*/
/*.content .listing-service .service-3.col-md-3:hover .sv-content-hover{*/
    /*top:30vh;*/
/*}*/
/*.content .listing-service .service-4.col-md-3:hover .sv-content-hover{*/
    /*top:80vh;*/
/*}*/
/*.content .listing-service .service-2 .sv-content-hover{*/
    /*padding-top:500px;*/
/*}*/
/*.content .listing-service .service-2 .sv-content-hover .image{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: -50%;*/
/*}*/
/*.content .listing-service .service-3 .sv-content-hover{*/
    /*padding-top:800px;*/
/*}*/
/*.content .listing-service .service-3 .sv-content-hover .image{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0%;*/
/*}*/








.listing-service .col-md-3{
    position: relative;
    padding:0;
}



.service-3.service.s-active .sv-content-hover{
    right: 0;
}











.header{    z-index: 99999;}
.not-home .header .menu .menu-open .icon{    background-image: url(../images/menu.svg);}
.not-home .footer .line{   background-image: url(../images/Line37.png);}
.not-home .footer .line+a{
    background-image: url(../images/Ellipse38.png);
    background-repeat: no-repeat;
    text-align: center;
    height: 36px;
    width: 37px;
    top: -18px;
}
.not-home .footer .line+a .icon{
    background-image: url(../images/Union13.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 10px;
    right: 2px;
}
.service{
    /*   -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
   -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
   box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);*/
    height:100vh;
    padding:0 0;
    position: relative;
}
.page .container-fluid{
    overflow: hidden;
    height:100vh
}
.service:before{
    content: '';
    width: 2px;
    background: #eee;
    height: 100%;
    /*background: url(../images/Line21.png) repeat center center;*/
    display: block;
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
}
.service-4.col-sm-6.service:before{display:none}


.service-2.service .sv-content-hover{
    top: 50vh;
    opacity: 0;
}

.service .sv-content-hover{
    top: 77vh;
    opacity: 0;
    right: 0;
}
.service-3.service .sv-content-hover{
    top: 34vh;
    opacity: 0;
    right: 0;

}
.service-4.service .sv-content-hover{
    top: 61vh;
    opacity: 0;
}
.sv-content-hover {

    height: 100vh;
    padding: 0 40px;
    position: absolute;
    top: 0%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding: 0 50px;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    z-index: -1;
    width:100%
}
.sv-content-hover .number{
    font-family: MetaBook;
    font-size: 11px;
    color:#000;
    width: 33px;
    height: 32px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: url(../images/Ellipse17.png) no-repeat center center;
    line-height: 1;

}
.sv-content-hover .text{
    margin-top:30px
}
.sv-content-hover .text h4{
    font-family: MetaBook;
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 6px;
    color: #fff;
}
.sv-content-hover .text .desc{
    font-family: LatoLight;
    font-size:16px;
    line-height: 19px;
    color: #fff;
}
.sv-content{
    position: absolute;
    bottom: 20vh;
    top: 57vh;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding:0 50px;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
}
.sv-content .number{
    font-family: MetaBook;
    font-size: 11px;
    color:#000;
    width: 33px;
    height: 32px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: url(../images/Ellipse13.png) no-repeat center center;
    line-height: 1;

}
.sv-content .text{
    margin-top:30px
}
.sv-content .text h4{
    font-family: MetaBook;
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 6px;
    color: #707070;
}
.sv-content .text .desc{
    font-family: LatoLight;
    font-size:16px;
    line-height: 19px;
    color: #272727;
}
.sv-content-hover .text .image {
    position: absolute;
    left: 0;
    top: auto;
}
.service-4 .sv-content-hover .text .image{
    left: auto;
    right: 0;
    top: 20vh;
}
.service-2 .sv-content-hover{
    padding-top:500px;
}
.service-2 .sv-content-hover .image{
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 60%;
}
.service-3 .sv-content-hover{
    padding-top:594px;
}
.service-3 .sv-content-hover .image{
    position: absolute;
    top: 0;
    right: 0%;
}
@media (min-width: 768px){
    .service.s-active{
        -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        margin-left: -1px;
        z-index: 10;
    }
    .service.s-active:before{display:none}
    .service.s-active .sv-content{
        display: none;
    }
    .service.s-active .sv-content-hover{
        opacity: 1;
        filter: alpha(opacity=100);
        top:77vh;
    }
    .service-2.service.s-active .sv-content-hover{
        top:50vh;
    }
    .service-3.service.s-active .sv-content-hover{
        top:34vh;
    }
    .service-4.service.s-active .sv-content-hover{
        top: 61vh;
    }
}