==========HOME==========*/

.about-content div.content-first{
	padding: 12.875rem 0 18.504rem 10.244rem;
}
.about-content div.title{
	top: 90px;
	left: -122px;
}
#aboutPage p.text-vertical{
	letter-spacing: 1px;
}
#aboutPage .details .heading h2.head-title{
	font-weight: inherit;
	margin-bottom: 0;
}
.about-content div.details, .about-content .details.company{
	padding: 0 29px;
	border-left: 0;
}
.about-content div.details:after{
	content: "";
	position: absolute;
	top: 15px;
	left: 1px;
	display: block;
	width: 1px;
	bottom: -32px;
	background: #0E8AFA;
}
#aboutPage .details .description .detail{
	margin-bottom: 24px;
	letter-spacing: 0.5px;
}
#aboutPage div.item.content-seconds{
	padding-bottom: 8.873rem;
	padding-left: 30.4%;
}
.about-content .content-seconds div.title{
	left: -125px;
}
#aboutPage .content-seconds .details .heading h2.head-title{
	margin-bottom: 19px;
}
.about-content .content-seconds .visit-site{
	margin-top: 36px;
}
.about-content .content-seconds .visit-site .button{
	width: 277px;
}
.about-content .content-seconds div.details:after{
	top: 12px;
	bottom: 0px;
}
#aboutPage .about-content{
	background-position: center;
}
.service-content{
	overflow: hidden;
}
.about-footer .footer{
	padding: 15px;
}
div.video-home .popup-content .content{
	height: 100%;
}
.service-content .service-manufacturing.service-item img{
	right: 65%;
	bottom: -6%;
	top: 10%;
}
.service-content .service-airport.service-item img{
	max-width: 600px;
}
.service-content .service-item img{
	right: 47%;
}
div.service-item.active .nomal.warehouse .video:before{
	background-image: url(../assets/icon_play_small.png);
}
/*.service-item.service-warehouse.active .nomal .video, .service-content .service-item.service-warehouse .nomal.warehouse .title.active{
	color: #4E4E4E;
}*/



/*=========EDIT BY MY KAVALLI 30/10 =========*/
    
/*--------1920px--------*/
@media screen and (min-width: 1920px) {
    #aboutPage .about-content div.content-first {
        padding: 6.875rem 0 1.504rem 10.244rem;
    }

    #aboutPage .about-content .details.company .description {
        max-width: 1000px;
    }

    #aboutPage div.item.content-seconds {
        padding-bottom: 2.873rem;
    }

    .service-content .service-manufacturing.service-item img {
    	bottom: 40px;
    }
}

/*--------END 1440px--------*/

/*--------992px--------*/
/*--------END 992px--------*/
    

/*=========EDIT BY MY KAVALLI 30/10 =========*/


@media (min-width: 769px){
	.home-header .logo{
		display: none;
	}
	/*.video-home .popup-content .content .close-video{
		top: 18%;
	}*/
	div.video-home .popup-content .content{
		max-width: 1100px;
	}
}
@media (max-width: 1300px){
	.service-content .service-seaport.service-item.active img{
		max-width: 510px;
		right: 48%;
	}
	.service-content .service-manufacturing.service-item img{
		max-width: 490px;
		bottom: -6%;
	}
	.service-warehouse.active img.active{
		max-width: 558px;
	}
	.service-content .service-airport.service-item img{
		right: 72%;
		top: 68%;
		max-width: 500px;
	}
	.service-airport.active .nomal{
		top: 35%;
	}
	.service-warehouse.active .nomal{
		top: 70%;
	}
}
@media (max-width: 1150px){
	.service-content .service-seaport.service-item.active img{
		max-width: 450px;
	}
	.service-content .service-manufacturing.service-item img{
		max-width: 436px;
	}
	.service-content .service-airport.service-item img{
		right: 76%;
		max-width: 460px;
	}
	.service-item.service-seaport.active .nomal{
		top: 77%;
	}
}
@media (max-width: 1024px){
	.service-content .service-item img{
		max-width: 445px;
	}
	.service-content .service-manufacturing.service-item img{
		right: 60%;
	}
	.service-content .service-seaport.service-item.active img{
		max-width: 410px;
		right: 47%;
	}
}
@media (max-width: 900px){
	.service-content .service-seaport.service-item.active img{
		max-width: 356px;
	}
	.service-content .service-manufacturing.service-item img{
		max-width: 380px;
	}
	.service-warehouse.active img.active{
		max-width: 460px;
	}
	.service-content .service-airport.service-item img{
		right: 82%;
		max-width: 420px;
	}
}
@media (max-width: 768px){
	.about-content div.content-first,
	#aboutPage div.item.content-seconds
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	.about-content div.content-first{
		padding-bottom: 30px;
		padding-top: 70px;
	}
	.about-content div.details:after{
		display: none;
	}
	.about-content div.details, .about-content .details.company{
		padding: 0 15px;
	}
	.about-content div.title{
		position: static;
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
		text-align: left;    
		float: none;
	}
	.service-content{
		/*margin-top: 0;*/
	}
	#aboutPage div.item.content-seconds{
		padding-bottom: 80px;
	}
	.service-header .logo{
		top: 16px;
	}
	.about-header img.logo{
		top: 16px;
		left: 50px;
		max-width: none;
	}
	.service-footer .prev{
		display: block;
	}
	div video.home-video-bg{
		top: 85px;
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
		position: static;
		margin-top: 85px;
	}
	img.home-logo{
		display: none;
	}
	#homePage .fp-tableCell{
		display: block;
		height: auto !important;
	}
	div.home-content{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%);
		width: 100%;
		margin-top: 25px;
	}
	div.home-content h2{
		font-size: 22px;
	}
	.home-content .button{
		width: 150px;
		height: 42px;
	}
	#homePage{
		height: auto !important;
	}
	#homePage .home-footer{
		right: 15px;
		bottom: 0;
		display: none;
	}
	#homePage .home-footer a.next{
		height: 177px;
	}
	#homePage:before{
		top: 85px;
	}
	.home-header a.menu{
		background-image: url(../assets/menu_black.png);
		position: fixed;
		top: 30px;
		left: auto;
		right: 50px;
		display: block;
	}
	.home-header .logo{
		top: 16px;
		position: relative !important;
		display: block;
		left: 50px;
	}
	.home-header{
		position: fixed;
		top: 0;
		left: 0;
		height: 85px;
		width: 100%;
		display: none;
	}
	.service-header, .about-header{
		display: none;
	}
	.service-item.active{
		width: 101%;
	}
	.service-warehouse.service-item.active{
		padding-top: 70px;
	}
	.service-content{
		overflow-x: hidden;
	}
	.mobile-header{
		background: rgba(255, 255, 255, 0.8);
		display: block;
	}
	.mobile-header .menu{
		right: 30px;
		top: 30px;
	}
	div.service-seaport.service-item.active img.active{
		top: 14%;
		max-width: 430px;
	}
	.service-item.service-seaport.active .nomal{
		top: 68%;
	}
	.service-airport.active .nomal{
		top: 22%;
	}
	.service-manufacturing.service-item.services-2.active img.active{
		top: 22%;
		max-width: 320px;
	}
	.service-airport.service-item.services-4.active img.active{
		max-width: 400px;
		top: 45%;
	}
	.mobile-header .logo{
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	div.video-home .popup-content .content{
		max-width: 80%;
		height: 100%;
	}
	div.video-home .popup-content .content .close-video{
		top: 0;
		right: 0px;
		cursor: pointer;
		z-index: 9999;
		background: rgba(0,0,0,0.56);
		width: 25px;
		padding: 5px;
	}
	.service-content .service-item.active .nomal .title{
		font-size: 34px;
		margin-bottom: 10px !important;
	}
	.service-item.active .nomal .video{
		font-size: 14px;
	}
	.service-warehouse.service-item.active img.active{
		top: -100px;
		max-width: 500px !important;
	}
}
@media (max-width: 768px) and (min-height: 1024px){
	div.service-seaport.service-item.active img.active{
		top: 28%;
		max-width: 520px;
	}
	.service-manufacturing.service-item.services-2.active img.active{
		top: 25%;
		max-width: 480px;
	}
	.service-warehouse.service-item.active img.active{
		top: -80px;
		max-width: 600px;
	}
	.service-airport.service-item.services-4.active img.active{
		max-width: 560px;
	}
}


@media (max-width: 500px){
	.popup-content .video-detail {
		top: 40%;
	}
}

@media (max-width: 500px){
	#aboutPage .details .heading h2.head-title{
		font-size: 33px;
		line-height: 44px;
	}
	.popup-content .video-detail {
		top: 32%;
	}
}
@media (max-width: 449px){
	div.home-content h2{
		line-height: 30px;
	}
	.service-footer .prev{
		left: 15px;
		width: 130px;
	}
	.service-footer .next{
		width: 130px;
		width: 130px;
		background-position: right top;
		right: 15px;
	}
	.mobile-header .logo{
		width: 142px;
		top: 22px;
	}
	.mobile-header .menu{
		right: 15px;
		width: 28px;
		height: 18px;
		top: 34px;
		background-size: contain;
	}
	.about-content div.details, .about-content .details.company{
		padding-left: 0;
		padding-right: 0;
	}
	.about-content .content-seconds .visit-site{
		text-align: center;
	}
	div#servicePage, div#servicePage .fp-tableCell{
		height: 650px !important;
	}
	.service-content{}
	.service-item.service-seaport.active .nomal{
		top: 55%;
	}
	.service-content .service-item .nomal{
		margin: 0;
		top: 25%;
	}
	div.service-manufacturing.service-item.services-2.active img.active{
		top: 32%;
		max-width: 290px;
	}
	div.service-warehouse.service-item.active img.active{
		width: 100% !important;
		position: unset;
	}
	div.service-airport.service-item.services-4.active img.active{
		max-width: 340px;
		top: 50%;
	}
	div.service-seaport.service-item.active img.active{
		top: 16%;
		max-width: 350px;
	}
	.about-content div.content-first{
		padding-top: 10px;
		padding-bottom: 15px;
	}
	.about-content .button{
		height: 42px;
	}
	#aboutPage div.item.content-seconds{
		padding-bottom: 60px;
	}
	.menu-body{
		max-width: 320px;
	}
	.menu-body img.close-menu{
		right: 18px;
		top: 33px;
		width: 22px;
	}
	.menu-body ul{
		padding: 0 30px;
		top: 10%;
	}
	.about-content div.title{
		text-align: center;
		margin: auto;
	}
	#aboutPage .details .heading h2.head-title{
		text-align: center;
	}
	#aboutPage .details .description .detail{
		text-align: center;
	}
	.about-content{
		padding-top: 35px;
	}
}
@media (max-height: 630px){
	.menu-body ul{
		top: 45%;
		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
}

@media screen (max-width: 375px) {
	.popup-content .video-detail {
		top: 29%;
	}
}
/*==========END HOME==========