


.core-content .details h5 {
    font-size: 14px;
    line-height: 25px;
    color: #000;
    font-family: 'Lato-Light';
    margin-top: 10px;
    font-weight: 300;
}



@media screen and (max-width: 991px) {
	.menu {
	    top: 16px;
	    right: 50px;
	}
}

@media screen and (min-width: 768px) {
	.core-tech .core-content ul.tech {
		margin-left: -60px;
	}
}

@media screen and (max-width: 767px) {
	.core-content .details h2 {
	    font-size: 30px;
	}
	.core-tech .core-content ul.tech {
		padding: 15px;
	}

	.core-tech .core-content ul.tech li {
	    width: 50%;
	    text-align: center;
	}

	.core-tech .core-content ul.tech li:nth-child(3n+1) {
	    clear: unset;
	}

	.core-footer.footer p.footer {
	    padding: 15px;
	}

	.core-tech .core-content .intro {
	    transform: none; 
	    position: relative; 
	    left: unset; 
	    top: unset; 
	    text-align: center;
	    font-size: 35px;
	    margin: 5px 0;
	}
	.core-tech .core-content .details {
		padding-left: 0;
		border: none;
		text-align: center;
	}
	.core-tech .core-content {
		padding: 20px 40px;
	}
}

@media screen and (max-width: 480px) {

	.core-tech .core-content ul.tech li {
	    width: 100%;
	    text-align: center;
	}
	.menu {
	    top: 16px;
	    right: 20px;
	}
	.header .logo { 
		left: 20px;
		top: 16px;
	}

	.core-tech .core-content {
		padding: 20px;
	}
}