.warehouse_2 .spec-warehouse_2{
	z-index: 9999;
	padding-left: 20px;
}
.warehouse_2 .tech-spec-warehouse_2{
	margin-left: 20px;
}
.warehouse_2 .spec-warehouse_2 h4{
	color: black;
	padding-top: 100px;
}
.warehouse_2 .spec-warehouse_2 table{
	margin-top: 30px;
	width: 40%;
	color:black;
}
.warehouse_2 .spec-warehouse_2 .center{
	text-align: center;
}
.warehouse_2 .spec-warehouse_2 .header{
	background: #d9d9d9;
}
.warehouse_2 .spec-warehouse_2 .colors{
	background: #f8e0d0;
}
.warehouse_2 .spec-warehouse_2 .back-warehouse2{
	margin-left: 288px;
}
.warehouse_3 .spec-warehouse_3{
	z-index: 9999;
	padding-left: 20px;
}
.warehouse_3 .tech-spec-warehouse_3{
	margin-left: 20px;
}
.warehouse_3 .spec-warehouse_3 h4{
	color: black;
	padding-top: 100px;
}
.warehouse_3 .spec-warehouse_3 table{
	margin-top: 30px;
	width: 40%;
	color:black;
}
.warehouse_3 .spec-warehouse_3 .center{
	text-align: center;
}
.warehouse_3 .spec-warehouse_3 .header{
	background: #d9d9d9;
}
.warehouse_3 .spec-warehouse_3 .colors{
	background: #f8e0d0;
}
.warehouse_3 .spec-warehouse_3 .back-warehouse3{
	margin-left: 322px;
}

.warehouse_6 .spec-warehouse_6{
	z-index: 9999;
	padding-left: 20px;
}
.warehouse_6 .tech-spec-warehouse_6{
	margin-left: 20px;
}
.warehouse_6 .spec-warehouse_6 h4{
	color: black;
	padding-top: 100px;
}
.warehouse_6 .spec-warehouse_6 table{
	margin-top: 30px;
	width: 40%;
	color:black;
}
.warehouse_6 .spec-warehouse_6 .center{
	text-align: center;
}
.warehouse_6 .spec-warehouse_6 .header{
	background: #d9d9d9;
}
.warehouse_6 .spec-warehouse_6 .colors{
	background: #f8e0d0;
}
.warehouse_6 .spec-warehouse_6 .back-warehouse6{
	margin-left: 270px;
}
@media (min-width: 769px) and (max-width: 1023px){
	div.all-item .warehouse_5{
		top: 38.9%;
		left: 6%;
	}
	.all-item.warehouse .content .warehouse_5 .description p{
		margin-top: -2.7%;
		padding-left: 1.6%;
	}
	div.all-item .warehouse_4{
		top: 70.7%;
		left: 9.2%;
	}
	.all-item.warehouse .content .warehouse_4 .description p{
		margin-top: -3%;
	}
	.all-item .warehouse_3{
		bottom: 11.6%;
		right: 14.7%;
	}
	.all-item.warehouse .content .warehouse_3 .description p{
		margin-top: -3%;
		padding-left: 0;
		padding-right: 2.7%;
		right: 0;
		left: auto;
	}
	body .all-item.warehouse .content .warehouse_3 .image img{
		max-height: 50%;
		max-width: 82%;
	}
	div.all-item .warehouse_1{
		bottom: auto;
		right: 3.3%;
		top: 23%;
	}
	div.all-item .warehouse_6{
		top: 26%;
		left: 21.6%;
	}
	.all-item.warehouse .content .warehouse_1 .description p{
		padding-right: 3.5%;
		padding-left: 0;
		margin-top: -2.8%;
		right: 0;
		left: auto;
	}
	body .all-item.warehouse .content .warehouse_1 .image img{
		max-height: 51%;
	}
	.all-item.warehouse .content .warehouse_2 .description p{
		padding-right: 2.5%;
		padding-left: 0;
		margin-top: -2.7%;
		right: 0;
		left: auto;
	}
	div.all-item .warehouse_2{
		bottom: 24%;
		right: 3.7%;
	}
	
	body .all-item.warehouse img.bg{
		width: 60.3%;
		left: 54.6%;
		top: 50.5%;
	}
	
}
@media (min-width: 1024px) and (max-width: 1365px){
	div.all-item .warehouse_5{
		top: 38.7%;
		left: 6%;
	}
	.all-item.warehouse .content .warehouse_5 .description p{
		margin-top: -2.7%;
		padding-left: 1.6%;
	}
	div.all-item .warehouse_4{
		top: 59.4%;
		left: 15.2%;
	}
	.all-item.warehouse .content .warehouse_4 .description p{
		margin-top: -3%;
	}
	.all-item .warehouse_3{
		bottom: 9.8%;
		right: 20.7%;
	}
	.all-item.warehouse .content .warehouse_3 .description p{
		margin-top: -3%;
		padding-left: 0;
		padding-right: 5.1%;
		right: 0;
		left: auto;
	}
	body .all-item.warehouse .content .warehouse_3 .image img{
		max-height: 50%;
		max-width: 82%;
	}
	div.all-item .warehouse_1{
		bottom: auto;
		right: 3.3%;
		top: 10.6%;
	}
	div.all-item .warehouse_6{
		top: 16.5%;
		left: 21.6%;
	}
	.all-item.warehouse .content .warehouse_1 .description p{
		padding-right: 6.5%;
		padding-left: 0;
		margin-top: -3.8%;
		right: 0;
		left: auto;
	}
	body .all-item.warehouse .content .warehouse_1 .image img{
		max-height: 51%;
	}
	.all-item.warehouse .content .warehouse_2 .description p{
		padding-right: 5%;
		padding-left: 0;
		margin-top: -2.7%;
		right: 0;
		left: auto;
	}
	div.all-item .warehouse_2{
		bottom: 26.5%;
		right: 4.7%;
	}
	
	body .all-item.warehouse img.bg{
		/*width: 63.3%;
		left: 54.7%;
		top: 53.7%;*/
		width: auto;
		left: 54.7%;
		top: 53.7%;
		max-width: 63.3%;
		left: 54.7%;
		top: 53.7%;
		max-height: 300px;
	}
	
}
@media (min-width: 1366px){
	div.all-item .warehouse_5{
		top: 39.1%;
		left: 5%;
	}
	.all-item.warehouse .content .warehouse_5 .description p{
		margin-top: -2.7%;
		padding-left: 1.6%;
	}
	div.all-item .warehouse_4{
		top: 66.1%;
		left: 9.2%;
	}
	.all-item.warehouse .content .warehouse_4 .description p{
		margin-top: -3%;
	}
	.all-item .warehouse_3{
		bottom: 4%;
		right: 17.7%;
	}
	.all-item.warehouse .content .warehouse_3 .description p{
		margin-top: -2%;
		padding-left: 0;
		padding-right: 3.2%;
	}
	div.all-item .warehouse_1{
		bottom: auto;
		right: 3.3%;
		top: 10.6%;
	}
	div.all-item .warehouse_6{
		top: 16.5%;
		left: 21.6%;
	}
	.all-item.warehouse .content .warehouse_1 .description p{
		padding-right: 4%;
		padding-left: 0;
		margin-top: -2.8%;
	}
	.all-item.warehouse .content .warehouse_2 .description p{
		padding-right: 3%;
		padding-left: 0;
		margin-top: -2.2%;
	}
	body .all-item.warehouse .content .warehouse_2 .image img{
		max-height: 85%;
		max-width: 82%;
	}
	div.all-item .warehouse_2{
		bottom: 16.9%;
		right: 2.7%;
	}
	
	body .all-item.warehouse img.bg {
		width: 50.3%;
		left: 54.7%;
		top: 53.7%;
	}
	
}
@media (min-width: 1680px){
	div.all-item .warehouse_5{
		top: 39.1%;
		left: 3.4%;
	}
	.all-item.warehouse .content .warehouse_5 .description p{
		margin-top: -2.9%;
		padding-left: 1.9%;
	}
	div.all-item .warehouse_4{
		top: 71.1%;
		left: 9.2%;
	}
	.all-item.warehouse .content .warehouse_4 .description p{
		margin-top: -3%;
	}
	.all-item .warehouse_3{
		bottom: 1%;
		right: 14.7%;
	}
	.all-item.warehouse .content .warehouse_3 .description p{
		margin-top: -3%;
		padding-left: 0;
		padding-right: 4%;
	}
	div.all-item .warehouse_1{
		bottom: auto;
		right: 3.3%;
		top: 10.6%;
	}
	div.all-item .warehouse_6{
		top: 16.5%;
		left: 21.6%;
	}
	.all-item.warehouse .content .warehouse_1 .description p{
		padding-right: 5%;
		padding-left: 0;
		margin-top: -2.8%;
	}
	.all-item.warehouse .content .warehouse_2 .description p{
		padding-right: 3.6%;
		padding-left: 0;
		margin-top: -2.8%;
	}
	div.all-item .warehouse_2{
		bottom: 16.9%;
		right: 3.7%;
	}
	body .all-item.warehouse img.bg {
		width: 59.3%;
		left: 54.7%;
		top: 54.2%;
	}
	
}
@media (min-width: 1920px){
	div.all-item .warehouse_5{
		top: 39.2%;
		left: 3.4%;
	}
	.all-item.warehouse .content .warehouse_5 .description p{
		margin-top: -2.9%;
		padding-left: 1.9%;
	}
	div.all-item .warehouse_4{
		top: 71.3%;
		left: 9.2%;
	}
	.all-item.warehouse .content .warehouse_4 .description p{
		margin-top: -3%;
	}
	.all-item .warehouse_3{
		bottom: 3.4%;
		right: 14.7%;
	}
	.all-item.warehouse .content .warehouse_3 .description p{
		margin-top: -3%;
		padding-left: 0;
		padding-right: 4%;
	}
	div.all-item .warehouse_1{
		bottom: auto;
		right: 3.3%;
		top: 10.3%;
	}
	div.all-item .warehouse_6{
		top: 16.6%;
		left: 21.7%;
	}
	.all-item.warehouse .content .warehouse_1 .description p{
		padding-right: 5%;
		padding-left: 0;
		margin-top: -2.8%;
	}
	.all-item.warehouse .content .warehouse_2 .description p{
		padding-right: 3.6%;
		padding-left: 0;
		margin-top: -2.8%;
	}
	div.all-item .warehouse_2{
		bottom: 19.3%;
		right: 3.7%;
	}
	
	body .all-item.warehouse img.bg{
		width: 53.3%;
		left: 54.7%;
		top: 54.1%;
	}
	.warehouse_2 .spec-warehouse_2 table,
	.warehouse_3 .spec-warehouse_3 table,
	.warehouse_6 .spec-warehouse_6 table{
		margin-top: 0px;	
	}
	
}
@media (max-width: 500px){
	.detail-content .content-left .service-img.main.warehouse_4.active{
		top: 50% !important;
		max-height: 300px;
		
	}
	.detail-content .content-left .service-img.main.warehouse_6.active{
		max-height: 300px;
	}
	.detail-content .content-left .service-img.main.warehouse_2.active{
		height: 235px;
		max-width:300px;
	}
	.detail-content .content-left .service-img.main.warehouse_1.active{
		height: 135px;
		width: 115px;
	}
	.detail-content .content-left .service-img.main.warehouse_3.active{
		max-width: 345px;
	}
	.detail-content .content-left .service-img.main.warehouse_5.active{
		max-width:300px;
	}
	.warehouse_2 .spec-warehouse_2 table,
	.warehouse_3 .spec-warehouse_3 table,
	.warehouse_6 .spec-warehouse_6 table{
		width: 94%;
	}
	.warehouse_2 .spec-warehouse_2 h4,
	.warehouse_3 .spec-warehouse_3 h4,
	.warehouse_6 .spec-warehouse_6 h4{
		padding-top: 0px;
	}
	.warehouse_2 .spec-warehouse_2 .back-warehouse2{
		margin-left: 35px;
	}
	.warehouse_3 .spec-warehouse_3 .back-warehouse3{
		margin-left: 72px;
	}
	.warehouse_6 .spec-warehouse_6 .back-warehouse6{
		margin-left: 26px;
	}
}
@media (min-width: 768px){
	.detail-content .content-left .service-img.main.warehouse_4.active{
		max-height: 330px;
	}
	.detail-content .content-left .service-img.main.warehouse_6.active{
		max-height: 330px;
	}
}